@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/Century/CenturyGothic.woff') format('woff'),
       url('../fonts/Century/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/Century/CenturyGothic-Bold.woff') format('woff'),
       url('../fonts/Century/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell.woff') format('woff'),
       url('../fonts/Rockwell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}