doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		section.main
			.container
				a.logo(href="javascript:void(0);")
					img(src="images/logo.png")
					span Авторская методика оздоровления организма
				.main_section_wrapper
					.main_inform_wrapper
						.main_inform
							h1 Замучала аллергия?
							p 
								|Уникальный авторский мотод лечения 
								| при помощи натуральных методов
						.inform_video_after
							.inform_video
								.inform_video_wrapper#video_wrap
									img(title="Мастер здоровья" alt="переправа" src="http://img.youtube.com/vi/nRTJd91G04Q/maxresdefault.jpg")
								a(href="javascript:void(0);" onClick="setVideo()").play
		section.author
			.container
				.section_header
					h2 20-ти летний авторский опыт
					p поиска методики избавления от аллергии и других недугов

				.section_benefit
					.row
						.col-xs-12
							.row
								.col-xs-12.col-sm-6.col-md-4
									.benefit_item
										p Как научиться прислушиваться к своему организму, чтобы реже получать неприятные симптомы

								.col-xs-12.col-sm-6.col-md-4.col-md-offset-4
									.benefit_item
										p Действенные методы исцеления организма до клеточного уровня 
						.col-xs-12
							.row
								.col-xs-12.col-sm-6.col-md-4
									.benefit_item
										p Отступление мигреней, болей в животе, неврозов и сильных аллергические реакций

								.col-xs-12.col-sm-6.col-md-4.col-md-offset-4
									.benefit_item
										p Перестать доверять свой организм третьим лицам. Понимать что с вами происходит, а главное - почему и что делать ?
				.section_author_img
					img(src="images/author_img.png", alt="")

		section.why_us
			.why_us_bg1
			.why_us_bg2
				.container
					.why_us_header_wrapper
						.why_us_header
							.why_us_header_description
								p Долгие годы я сама очень мучилась от аллергии и от приступов крупа. Годы и годы мне приходилось принимать лекарства с ортизоном, но проблема как была, так и оставалась.
							h2 Почему вы можете мне доверять ?
					.why_us_inform_wrapper
						.why_us_inform_header
							span.number
							.why_us_right
								span.number_inform Лет практики
								.why_us_inform_title Ошеломляющий результат
						.why_us_inform
							p.p1 Жить в таких условиях было крайне неприятно, а иногда и рискованно! Многие продукты, такие как оранжевые и красные фрукты не были запрещены! На лице и на руках, часто были прыщи и красные пятна. Согласитесь, неприятно?
							p.large_text Я начала практиковать разные методы натурального оздоровления.
							p.p2 Мои дети страдали от аллергии и повторных бронхитов и бронхиолитов. Мой метод оздоровления помог и им!
							p.p3 И всё, что мне помогло добиться ошеломляющих результатов в области здоровья, я ясно, шаг за шагом и кратко изложу вам! Мой долгий опыт, мои успехи и ошибки, всего за 3-6 месяцев обучения!
						.why_us_img
							img(src="images/cup.png", alt="")
		section.unique
			.container
				h2 В чем уникальность курса
				.row
					.col-xs-12
						.row
							.col-xs-12.col-sm-12.col-md-6
								.unique_item.unique_item_1
									.unique_img
										img(src="images/icons/flower.png", alt="")
									.unique_title 100% оздоровление шаг за шагом
									.unique_inform
										p Любой человек найдёт в нём простые советы, которые ему помогут улучшить свою жизнь и избавиться от аллергии. Многие из них легко внести в распорядок дня.

							.col-xs-12.col-sm-12.col-md-6
								.unique_item.unique_item_2
									.unique_img
										img(src="images/icons/like.png", alt="")
									.unique_title Испытано на себе
									.unique_inform
										p В интернете можно найти кучу бесплатной информации, но как отделить правду ото лжи? В моём курсе только то, что испытала на себе и что действительно работает!

					.col-xs-12
						.row
							.col-xs-12.col-sm-12.col-md-6
								.unique_item.unique_item_3
									.unique_img
										img(src="images/icons/survey.png", alt="")
									.unique_title Изучение своего организма
									.unique_inform
										p Полученные знания дадут вам понятие о том как работает ваш организм. Вы станете более независимыми и будете себя чувствовать спокойнее и увереннее!

							.col-xs-12.col-sm-12.col-md-6
								.unique_item.unique_item_4
									.unique_img
										img(src="images/icons/butterfly.png", alt="")
									.unique_title Ключ к жизненной энергии
									.unique_inform
										p Ощутите себя так, как когда вам было 4-5 лет. Вам хотелось бегать и прыгать, и вы пылали от жизнерадостности! Вы можете вернуть это состояние!
		section.course
			.container
				.row
					.col-xs-12.col-sm-12.col-md-6
						h2 Этот курс для вас если:
						.course_inform.course_inform1
							p Вам надоела хроническая усталость
							p Вы хотите добиться реальной 
								br 
								| стабильности в вашем весе
							p Вы хотите уменьшить или устранить аллергические симптомы, ларингиты, бронхиолиты
							p Вы хотите обрести внутреннее покойствие и жизнерадостность
							span.large_text Если вы перепробовали ВСЁ и ничего не помогает!

					.col-xs-12.col-sm-12.col-md-6
						h2 Этот курс не для вас если:
						.course_inform.course_inform2
							p Вы ищите "волшебный" метод 
								br
								| и не готовы прилагать никаких усилий
							p Если вы думаете что достаточно ознакомиться с информацией не применяя её на практике
							p Если вы думаете что уже знаете всё о своём организме
							p Если вы 100% материалист и верите только в то, что видите
		section.guarantee
			.container
				.guarantee_relative
					.paper_wrapper
						.stampe
						.paper
						.guarantee_mark
					.guarantee_header
						span.number
						h2 гарантия результата
					.guarantee_inform
						p В течении месяца, если, идя по программе обучения, вы не получаете улучшения, я возвращаю вам деньги!
						p.strong Приобретая курс, вы ничемне рискуете!
		section.price
			.container
				h2 стоимость и условия
				.price_wrapper
					.price_item.price_item1
						.price_header Standart
						.price_inform_wrapper
							.price_inform
								p Свободный доступ: Вы получаете полный свободный доступ к курсам. Каждую неделю вам, открыватся новый урок. Занимаеться нужно самостоятельно
								p.price_course Продолжительность обучения - 
									strong 3 месяца
									br
									| Доступ к курсам - 
									strong 6 месяцев
							.cost_wrapper
								.cost 249€
								.cost_date До 15.09
							a(href="javascript:void(0);").price_button Оплатить доступ
							.discount
								span 
									strong 399€ 
									| До 21.09
								span 
									strong 499€ 
									| После 1.10

					.price_item.price_item2
						.price_header VIP
						.price_inform_wrapper
							.price_inform
								p Курсы VIP: После каждого пройденного урока вы выполняете домашнее задание. У вас есть возможность задавать мне вопросы. Я за руку веду вас до результатов в течении 6 месяцев. 
								p.price_course Продолжительность обучения - 
									strong 6 месяцев
									br
									| Доступ к курсам - 
									strong 12 месяцев
							.cost_wrapper
								.cost 999€
								.cost_date До 15.09
							a(href="javascript:void(0);").price_button Подать заявку
							.discount
								span 
									strong 1499€ 
									| До 21.09
								span 
									strong 1999€ 
									| После 1.10
		section.warning
			.container
				.warning_wrapper
					.warning_title Внимание!
					p Чтобы оказать качественные услуги, количество учеников ограничено. 
						br 
						| Вам нужно будет подать кандидатуру на участие в тренинге.
		section.discount
			.container
				.discount_inform_wrapper
					.row
						.col-xs-12.col-sm-12.col-md-6
							.discount_inform
								h2 дополнительная скидка
								p.info Вы можете получить скидку, привлекая друзей к покупке курса или тренинга.
								p.strong 100% гарантия результата!
						.col-xs-12.col-sm-12.col-md-6
							.table_wrapper
								table
									thead
										tr
											th Количество участников
											th Скидка
									tr
										td 1
										td 20%
									tr
										td 3
										td 30%
									tr
										td 5 и более
										td 50%
		section.content
			.container
				h2 Содержание курса
				.row
					.col-xs-12.col-sm-6
						ul.content_list
							li Как улучшить свои привычки ?
							li Как правильно настроить свои мысли ?
							li Понять свой организм
							li Как избавиться от стресса и снять блоки?
							li Качественный отдых и релаксация
							li Здоровое, живое питание
							li Роль воды

					.col-xs-12.col-sm-6
						ul.content_list.list_2
							li Чистка организма
							li Целительное голодание
							li Движение - залог здоровья
							li Гигиена и красота в гармонии с природой
							li Здоровье и лунные циклы
							li Биоэнергетика
							li.large_text 3 бонуса для выпускников
		section.purchase
			.container
				.price_wrapper
					.price_item.price_item1
						.price_header Standart
						.price_inform_wrapper
							.cost_wrapper
								.cost 249€
								.cost_date До 15.09
							a(href="javascript:void(0);").price_button Оплатить доступ
							.discount
								span 
									strong 399€ 
									| До 21.09
								span 
									strong 499€ 
									| После 1.10

					.price_item.price_item2
						.price_header VIP
						.price_inform_wrapper
							.cost_wrapper
								.cost 999€
								.cost_date До 15.09
							a(href="javascript:void(0);").price_button Подать заявку
							.discount
								span 
									strong 1499€ 
									| До 21.09
								span 
									strong 1999€ 
									| После 1.10
		footer
			.container
				a(href="javascript:void(0);").logo
					img(src="images/icons/footer_logo.png")
				.footer_copyright
					span 2017 © Мастер здоровья 
					.footer_links
						a(href="javascript:void(0);") Публичная оферта
						a(href="javascript:void(0);") Обратная связь
						a(href="javascript:void(0);") Партнерская программа
						a(href="javascript:void(0);") Правила
					.footer_inform 
						div Индивидуальный предприниматель Первушина Юлия Владимировна
						div ОГРН: 315435000020195 
						div ИНН: 434543527598
				.footer_img
					img(src="images/fruits.png")

		script(src="js/jquery.min.js")
		script(src="js/main.js")
			