doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Porfum
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/slick.css" rel="stylesheet")
		link(href="css/slick-theme.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		header
			.add_new_product_wrapper
				.add_new_product
					.add_new_product_img
						img(src="images/icons/cart_add.png")
					.add_new_product_inform
						span.new_author
							strong Алексей Черных 
							| из Красноярска 
						| приобрел 
						a(href="javascript:void(0);") Versace Man Eau Fraiche
			.header_container
				.top_line
					.time_wrap.count-down
						.time_info
							| До конца акции
							br
							| осталось:
						.timer
							span.hours 11
							span.minutes 12
							span.seconds 20
					.top_line_right
						.shopping_today.hidden-xs.hidden-sm
							| Заказов сегодня 
							span 2503

						.top_cart
							a#top_cart_link(href='#' data-toggle="modal" data-target="#cartModal")
								img(alt='Корзина', src='images/icons/cart.png')
								span.badge_number_wrapper
									span.badge_number 5
								span.hidden-xs
									span.price_amount
										| 1,508 
										span.price_curse руб.

				.header_sale_wrapper
					.header_sale_title
						h1 ВНИМАНИЕ!
						h4 ПОСЛЕДНИЕ ДНИ МАГАЗИНА
					.header_sale_item_wrapper
						.header_sale_item_price
							| ВСЕ ПО  
							span.perfum_price 3695 
							| рублей

						.header_sale_item_img
							img(src="images/header_perfum.jpg")
						.header_sale_item_inform
							span РАСПРОДАЕМ ВСЕ 
							br 
							| ЧТО ЕСТЬ ПО ЦЕНАМ НИЖЕ ЗАКУПОЧНЫХ

		#cartModal.cartModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cartModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#cartModalLabel.modal-title Ваша корзина
					.modal-body
						.wrap_table
							table.table.table-striped.table-hover.cart(cellspacing='0')
								thead
									tr
										th.first.product-name(colspan='2') Наименование
										th.product-price Цена
										th.product-quantity Количество
										th.product-subtotal Итого
										th
								tbody
									tr.cart_item
										td.product-thumbnail.product_foto
											a(href='#')
												img(src='images/product_cart.png')
										td.product-name.first
											.duhi-brend
												| Hugo Boss
											div
												| Boss N6 100 ml
										td.product-price.rice(title="Цена")
											.strike
												| 2686
												span.cart_price_symbol
											.sale_price
												span.amount
													| 377
													span.cart_price_symbol
										td.product-quantity
											.text-center
												.quantity
													input.input-text(type='number', step='1', min='1', max='', name='quantity', value='1', title='Кол-во', size='4', pattern='[0-9]*', inputmode='numeric')
										td.product-subtotal
											span.amount
												| 377 
												span.cart_price_symbol руб.
										td
											a.btn-del.remove(href='#', aria-label='Удалить эту позицию', title="Удалить эту позицию") ×

									tr.cart_item
										td.product-thumbnail.product_foto
											a(href='#')
												img(src='images/product_cart.png')
										td.product-name.first
											.duhi-brend
												| Hugo Boss
											div
												| Boss N6 100 ml
										td.product-price.rice(title="Цена")
											.strike
												| 2686
												span.cart_price_symbol
											.sale_price
												span.amount
													| 377
													span.cart_price_symbol
										td.product-quantity
											.text-center
												.quantity
													input.input-text(type='number', step='1', min='1', max='', name='quantity', value='1', title='Кол-во', size='4', pattern='[0-9]*', inputmode='numeric')
										td.product-subtotal
											span.amount
												| 377 
												span.cart_price_symbol руб.
										td
											a.btn-del.remove(href='#', aria-label='Удалить эту позицию', title="Удалить эту позицию") ×

									tr.cart_item
										td.product-thumbnail.product_foto
											a(href='#')
												img(src='images/product_cart2.jpg')
										td.product-name.first
											.duhi-brend
												| Dolce & Gabbana 
											div
												| L’Imperatrice 3 100 ml
										td.product-price.rice(title="Цена")
											.strike
												| 2686
												span.cart_price_symbol
											.sale_price
												span.amount
													| 377
													span.cart_price_symbol
										td.product-quantity
											.text-center
												.quantity
													input.input-text(type='number', step='1', min='1', max='', name='quantity', value='1', title='Кол-во', size='4', pattern='[0-9]*', inputmode='numeric')
										td.product-subtotal
											span.amount
												| 377 
												span.cart_price_symbol руб.
										td
											a.btn-del.remove(href='#', aria-label='Удалить эту позицию', title="Удалить эту позицию") ×

									tr.cart_item
										td.product-thumbnail.product_foto
											a(href='#')
												img(src='images/product_cart.png')
										td.product-name.first
											.duhi-brend
												| Hugo Boss
											div
												| Boss N6 100 ml
										td.product-price.rice(title="Цена")
											.strike
												| 2686
												span.cart_price_symbol
											.sale_price
												span.amount
													| 377
													span.cart_price_symbol
										td.product-quantity
											.text-center
												.quantity
													input.input-text(type='number', step='1', min='1', max='', name='quantity', value='1', title='Кол-во', size='4', pattern='[0-9]*', inputmode='numeric')
										td.product-subtotal
											span.amount
												| 377 
												span.cart_price_symbol руб.
										td
											a.btn-del.remove(href='#', aria-label='Удалить эту позицию', title="Удалить эту позицию") ×
							.cart_collaterals
								.cost
									| Итого: 
									span.total
										| 1,350 
										span.total_currencySymbol руб.
							.cart_buttons
								a(href="javascript:void(0);").custom_btn.btn_continue Продолжить покупки
								a(href="javascript:void(0);").custom_btn.btn_buy Оформить заказ


		section.best_perfume_wrapper
			.best_perfume
				h2 Духи лучших производителей
				.best_perfume_item_wrapper
					.row
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume1.png")
								.best_perfume_item_inform
									p Запах духов идентичен оригинальному (90-100%)
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume2.png")
								.best_perfume_item_inform
									p Цены в 3-5 раз ниже цен на оригиналы
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume3.png")
								.best_perfume_item_inform
									p Стойкость соотвествует оригинальной
		section.section_links_wrapper
			.section_links
				h2 Найди свой аромат
				.section_links_to
					a(href="#woman_parfum").custom_btn Женские духи
					a(href="#man_parfum").custom_btn Мужские духи

		.products_wrapper(id="woman_parfum")
			h2 Женские
			.products_item_wrapper
				.row
					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
									.product_remained 
										| 5
										span осталось
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 28%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 56%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать
				a(href="javascript:void(0);").custom_btn.show_more Показать еще

		.products_wrapper(id="man_parfum")
			h2 Мужские
			.products_item_wrapper
				.row
					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
									.product_remained 
										| 5
										span осталось
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 28%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 56%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать
				a(href="javascript:void(0);").custom_btn.show_more Показать еще
		
		section.feedback_search_wrapper
			.feedback_search
				.row
					.col-xs-12.col-md-6
						.feedback_search_inform_wrapper
							.feedback_search_title 
								| Не Нашли 
								
								| Любимые духи?
							.feedback_search_inform
								p Заполните форму и мы вышлем вам полный список парфюма в наличии 

					.col-xs-12.col-md-6
						form
							.form_custom_group
								input(type="text" name="name" id="name").form-control
								label(for="name") Введите ваше имя
							.form_custom_group
								input(type="text" name="phone" id="phone").form-control
								label(for="phone") Введите ваш телефон
							input(type="submit" value="Найти духи").custom_btn

		section.advantage_wrapper
			h2 ДОСТОИНСТВА НАШЕГО МАГАЗИНА
			.advantage_item_wrapper
				.row
					.col-xs-12.col-sm-4
						.advantage_item
							p Оригинальная продукция из Европы
						.advantage_item
							p Звание лучшего магазина духов 2016
						.advantage_item
							p 60 000 положительных отзывов о работе и сервисе
					.col-xs-12.col-sm-4
						.advantage_img
							img(src="images/advantage.png")
					.col-xs-12.col-sm-4
						.advantage_item
							p 45% клиентов возвращается к нам снова и снова
						.advantage_item
							p Стойкость парфюма 8 и больше часов
						.advantage_item
							p Доставка по всей Украине в течение 2 дней

		section.score_wrapper
			.score_inform_wrapper
				.score_title 
					span НАШИ КЛИЕНТЫ 
					| ВСЕГДА ОСТАЮТСЯ ДОВОЛЬНЫ
				.score_img
					img(src="images/score_full.png")
					img(src="images/score_full.png")
					img(src="images/score_full.png")
					img(src="images/score_full.png")
					img(src="images/score.png")
				.score_inform 
					span 95,6% 
					| покупателей оценило 
					br 
					| духи в 5 из 5

		section.feedback_wrapper
			h2 Отзывы
			.feedback_slider_wrapper
				.feedback_slider_item
					.feedback_slider_container
						.slider_img
							img(src="images/feedback_img.jpg")
						.slider_inform_wrapper
							.slider_inform_title Инна Лукина
							.slider_inform 
								p Для тех, кто жаждет покорения женских сердец, создан новый парфюм Antonio Banderas The Golden Secret . Это таинственный аромат является холодным оружием для своего владельца. Он создан для заядлых ловеласов. Парфюм привносит в их образ больше магии и загадочности .Дразнящие, дерзкие и сексуальные ноты не оставят равнодушной ни одну женщину. Все попадут под действие этого запаха.

				.feedback_slider_item
					.feedback_slider_container
						.slider_img
							img(src="images/feedback_img.jpg")
						.slider_inform_wrapper
							.slider_inform_title Инна Лукина
							.slider_inform 
								p Для тех, кто жаждет покорения женских сердец, создан новый парфюм Antonio Banderas The Golden Secret . Это таинственный аромат является холодным оружием для своего владельца. Он создан для заядлых ловеласов. Парфюм привносит в их образ больше магии и загадочности .Дразнящие, дерзкие и сексуальные ноты не оставят равнодушной ни одну женщину. Все попадут под действие этого запаха.

				.feedback_slider_item
					.feedback_slider_container
						.slider_img
							img(src="images/feedback_img.jpg")
						.slider_inform_wrapper
							.slider_inform_title Инна Лукина
							.slider_inform 
								p Для тех, кто жаждет покорения женских сердец, создан новый парфюм Antonio Banderas The Golden Secret . Это таинственный аромат является холодным оружием для своего владельца. Он создан для заядлых ловеласов. Парфюм привносит в их образ больше магии и загадочности .Дразнящие, дерзкие и сексуальные ноты не оставят равнодушной ни одну женщину. Все попадут под действие этого запаха.

				.feedback_slider_item
					.feedback_slider_container
						.slider_img
							img(src="images/feedback_img.jpg")
						.slider_inform_wrapper
							.slider_inform_title Инна Лукина
							.slider_inform 
								p Для тех, кто жаждет покорения женских сердец, создан новый парфюм Antonio Banderas The Golden Secret . Это таинственный аромат является холодным оружием для своего владельца. Он создан для заядлых ловеласов. Парфюм привносит в их образ больше магии и загадочности .Дразнящие, дерзкие и сексуальные ноты не оставят равнодушной ни одну женщину. Все попадут под действие этого запаха.

		section.contacts_wrapper
			h2 Наши координаты
			.contacts_maps
				.contacts_info_wrapper
					.contacts_info_title ГЛАВНЫЙ ОФИС НАХОДИТСЯ
					.contacts_info
						.contacts_info_icon.contacts_info_place Россия, Санкт-Петербург, проспект Ветеранов, 147
						.contacts_info_icon.contacts_info_company Вы можете совершить покупку в интернет-магазине, находясь в любой точке России
						.contacts_info_icon.contacts_info_pay ОПЛАЧИВАЙТЕ ЗАКАЗ ПРИ ПОЛУЧЕНИИ! МЫ ГАРАНТИРУЕМ ВЫСОКОЕ КАЧЕСТВО И СООТВЕТСТВИЕ ТРЕБОВАНИЯМ

		footer
			.footer_border_container
				.footer_border
					.footer_border_info_wrapper
						.footer_border_title Поспешите купить аромат мирового бренда
						.footer_border_subtitle По самой низкой цене!
				.section_links_to
					a(href="#woman_parfum").custom_btn Женские духи
					a(href="#man_parfum").custom_btn Мужские духи
			


		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/slick.min.js")
		script(src="js/jquery.maskedinput.min.js")
		script(src="js/jquery.countdown.min.js")
		script(src="js/jcf.js")
		script(src="js/jcf.number.js")
		script(src="js/main.js")