doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		.mobile_menu_close_wrapper
			.mobile_menu_close
		.wrapper
			header
				.container
					.header_inform__wrapper
						.main_logo
							a(href="#")
								span.logo_first Фулфилмент.биз
								span.logo_second лицом к клиентам
						.main_menu__wrapper
							.main_mobile_button
								button(type="button" class="navbar-toggle")
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
							.main_menu
								.main_nav_container
									ul.main_nav
										li
											a(href='#') Услуги
										li
											a(href='#') Преимущества
										li
											a(href='#') Цены
										li
											a(href='#') Контакты
										li
											a(href='#') Блог
								.top_inform__wrapper
									.top_number 8 800 558 05 83
									a(href="#").top_login Вход
					.header_title__wrapper
						h1 Комплексное обслуживание интернет-магазинов
						.header_tablet__wrapper
							.header_tablet
								.tablet_video
									.video_in_tablet
								.tablet_link
									a(href="#") Попробовать бесплатно
			.our_services__wrapper
				.container
					h2 Наши услуги
					.services__wrapper
						.row
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/1.png")
									.services_text
										p Поиск и закуп интересного товара
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/2.png")
									.services_text
										p Огромная база поставщиков
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/3.png")
									.services_text
										p Профессиональные операторы
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/4.png")
									.services_text
										p Записи разговоров и разработка скриптов
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/5.png")
									.services_text
										p Апселы, кросселы, дожимы до выкупа
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/6.png")
									.services_text
										p Cмс и e-mail информирование
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/7.png")
									.services_text
										p Хранение, упаковка, маркировка
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/8.png")
									.services_text
										p Экспресс-доставка грузов по России
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/9.png")
									.services_text
										p Курьерская доставка по Москве и области
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/10.png")
									.services_text
										p Кассовое обслуживание  для вашего бизнеса
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/11.png")
									.services_text
										p CRM-система для контроля за процессами
							.col-xs-20.col-sm-4.col-md-4.col-lg-3
								.services_item
									.services_image
										img(src="images/services/12.png")
									.services_text
										p Моментальное пополнение и вывод

			.feedback_block__wrapper.feedback_block1
				.container.custom_container
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-7
							h2
								|Заказы для вашего бизнеса.
								br
								|Получайте большой поток клиентов!
							.feedback_inform
								p В нашей команде работают топовые арбитражники, которые при необходимости помогут вам с лидогенерацией
							.feedback_form
								form
									.input_style
										input(type="text" value="")
										label(for="name") Ваше имя
									.input_style
										input(type="text" value="")
										label(for="name") Номер мобильного
									input(type="submit" value="Получить консультацию")
						.col-xs-12.col-sm-12.col-md-6.col-lg-5
							.feedback_image
								img(src="images/feedback_block/block1_img.png")

			.advantage_block__wrapper
				.container.custom_container
					.advantage_item
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.advantage_image
									img(src="images/advantage_block/1.png")
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								h2 Полная и прозрачная отчетность
								.advantage_text
									.advantage_teaser_text Держите "руку на пульсе" всех ключевых показателей бизнеса вместе с очень удобной CRM-системой для отслеживания заказов на каждом этапе обслуживания.
									p В любой момент сможете прослушать записи разговоров наших операторов, а также воспользоваться большим инструментарием для аналитики и проверки качества предоставляемых услуг.
					.advantage_item
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								h2 Оперативная обработка ваших заказов
								.advantage_text
									.advantage_teaser_text Вам больше не нужен колл-центр или штатные операторы. Работаем 24/7, общаемся с клиентами из любого часового пояса в удобное для них время.
									p Берём всю работу по общению с клиентами на себя. Подтверждаем заказы, работаем с возражениями, консультируем по товарам и ассортименту, напоминаем о прибытии товара в пункт выдачи или почтовое отделение
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.advantage_image
									img(src="images/advantage_block/2.png")
					.advantage_item
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.advantage_image
									img(src="images/advantage_block/3.png")
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								h2 Умное хранение, быстрая доставка
								.advantage_text
									.advantage_teaser_text Не нужен штат курьеров и десятки договоров с логистическими компаниями и сервисами.
									p Храним товары у себя на складе. Комплектуем и упаковываем заказы в течение 2 часов. Доставляем товары по Москве собственными курьерами, а по России через логистические и транспортные о копании, в пункты выдачи и почтой.

			.business_block__wrapper
				.container
					h2 Весь бизнес как на ладони
					.business_item_wrapper
						.row
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.business_item
									i 1
									span Определение фрода или дубля
								.business_item
									i 2
									span Собственный скрипт звонка
								.business_item
									i 3
									span Звонки по местному времени покупателя
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.business_item
									i 4
									span Отслеживание заказов
								.business_item
									i 5
									span СМС-информирование покупателей
								.business_item
									i 6
									span Определение фрода или дубля
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.business_item
									i 7
									span Гео-привязка и испраление неверных адресов
								.business_item
									i 8
									span Аналитика продаж
								.business_item
									i 9
									span СRM-система и телефония

			.feedback_block__wrapper.feedback_block2
				.container.custom_container
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-7
							h2
								|Протестируйте 
								br
								|Фулфилмент бесплатно
							.feedback_inform
								p Бесплатная неделя теста нашего сервиса без ограничения количества заказов
							.feedback_form
								form
									.input_style
										input(type="text" value="")
										label(for="name") Ваше имя
									.input_style
										input(type="text" value="")
										label(for="name") Эл.почта
									input(type="submit" value="Протестировать")
						.col-xs-12.col-sm-12.col-md-6.col-lg-5
							.feedback_image
								img(src="images/feedback_block/block2_img.png")
			.progress__wrapper
				.container
					h2 Чего мы добились за 2 года работы
					.row
						.col-xs-12.col-sm-6.col-md-3.col-lg-3
							.progress_item
								.progress_img
									img(src="images/progress/1.png")
								.progress_teaser 8 из 10 заказов
								.progress_text Подтверждается нашими операторами
						.col-xs-12.col-sm-6.col-md-3.col-lg-3
							.progress_item
								.progress_img
									img(src="images/progress/2.png")
								.progress_teaser 42% покупателей
								.progress_text Заказывают дополнительные товары
						.col-xs-12.col-sm-6.col-md-3.col-lg-3
							.progress_item
								.progress_img
									img(src="images/progress/3.png")
								.progress_teaser 9 из 10 посылок
								.progress_text Выкупает заказ на почте и в пункте выдачи
						.col-xs-12.col-sm-6.col-md-3.col-lg-3
							.progress_item
								.progress_img
									img(src="images/progress/4.png")
								.progress_teaser 34% клиентов
								.progress_text Возвращаются за повторными покупками
			.sale_wrapper
				.container
					.sale_item
						.sale_img
							img(src="images/sale/1.png")
						.sale_inform
							.sale_teaser Подтверждение заказа при отсутствии на складе товара нужного цвета
							h3 Продажа детских GPS-часов
							.sale_services__wrapper
								.sale_services_list__wrapper
									.sale_services_list Проверка на фрод и дубль
									.sale_services_list Проверка корректности адреса
									.sale_services_list Оформление доставки
								.sale_services_inform__wrapper
									.sale_services_inform
										strong Длительность: 
										| 1 минута 30 секунд
									.sale_services_inform
										strong Чек: 
										|  4 340 руб. вместе с доставкой
									.sale_services_inform
										strong Средний апрув оператора: 
										| 78%
						.sale_sound
							.sale_sound_play
							.sale_sound_track
							.sale_sound_minute 01:45

					.sale_item
						.sale_inform
							.sale_teaser Увеличение суммы покупок в заказе на 59%
							h3 Продажа USB-зажигалки
							.sale_services__wrapper
								.sale_services_list__wrapper
									.sale_services_list Проверка на фрод и дубль
									.sale_services_list Проверка корректности адреса
									.sale_services_list Оформление доставки
								.sale_services_inform__wrapper
									.sale_services_inform
										strong Длительность: 
										| 1 минута 30 секунд
									.sale_services_inform
										strong Увеличение чека: 
										| 1 000 руб.
									.sale_services_inform
										strong Чек: 
										|  4 340 руб. вместе с доставкой
									.sale_services_inform
										strong Средний апрув оператора: 
										| 78%
						.sale_sound
							.sale_sound_play
							.sale_sound_track
							.sale_sound_minute 01:45

						.sale_img
							img(src="images/sale/2.png")

					.sale_item
						.sale_img
							img(src="images/sale/3.png")
						.sale_inform
							.sale_teaser Увеличение суммы покупок в заказе на 59%
							h3 Продажа детских GPS-часов
							.sale_services__wrapper
								.sale_services_list__wrapper
									.sale_services_list Проверка на фрод и дубль
									.sale_services_list Проверка корректности адреса
									.sale_services_list Оформление доставки
								.sale_services_inform__wrapper
									.sale_services_inform
										strong Длительность: 
										| 1 минута 30 секунд
									.sale_services_inform
										strong Чек: 
										|  4 340 руб. вместе с доставкой
									.sale_services_inform
										strong Средний апрув оператора: 
										| 78%
						.sale_sound
							.sale_sound_play
							.sale_sound_track
							.sale_sound_minute 01:45

			.feedback_block__wrapper.feedback_block3
				.container.custom_container
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-7
							h2
								|Расширьте ваш ассортимент популярными товарами с максимальной наценкой
							.feedback_inform
								p Расскажем о трендовых товарах, рекомендуемой цене и прибыли. Дадим контакты поставщиков
							.feedback_form
								form
									.input_style
										input(type="text" value="")
										label(for="name") Ваше имя
									.input_style
										input(type="text" value="")
										label(for="name") Номер мобильного
									input(type="submit" value="Получить консультацию")
						.col-xs-12.col-sm-12.col-md-6.col-lg-5
							.feedback_image
								img(src="images/feedback_block/block3_img.png")
			.integration__wrapper
				.container
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							.integration_img
								img(src="images/integration.png")
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							h2
								| Простая интеграция
								br
								|  с популярными
								br
								|  сервисами
							.integration_text
								p Интегрируйте CRM-системы, сервисы рассылок, системы управления сайтами, социальные сети, рекламные кабинеты и другие популярные сервисы в 2 клика.
			.price__wrapper
				.container
					h2 Тарифы и стоимость
					.price_item__wrapper
						.price_item
							.price_img
								img(src="images/price/1.png")
							.price_inform
								.price_title Дропшиппинг
								ul
									li
										strong — 
										|Оптовые цены
									li
										strong — 
										|Упаковка
									li
										strong — 
										|Отправка по тарифам службы доставки
								.price_cost__wrapper
									.price_cost 100 Р
									.price_cost_inform За заказ
							.price_button
								a(href="javascript:void(0)") Подключиться

						.price_item
							.price_img
								img(src="images/price/2.png")
							.price_inform
								.price_title Колл-центр
								ul
									li
										strong — 
										|Матрица допродаж
									li
										strong — 
										|Скрипты продаж
									li
										strong — 
										|Подтверждение
									li
										strong — 
										|Допродажи
									li
										strong — 
										|Доведение до выкупа
									li
										strong — 
										|Sms-информирование
									li
										strong — 
										|+25 Р /допродажа

								.price_cost__wrapper
									.price_cost 100 Р
									.price_cost_inform За заказ
							.price_button
								a(href="javascript:void(0)") Подключиться

						.price_item
							.price_img
								img(src="images/price/3.png")
							.price_inform
								.price_title Под ключ
								ul
									li
										strong — 
										|Интеграция сайта
									li
										strong — 
										|Оптовые цены
									li
										strong — 
										|Матрица допродаж
									li
										strong — 
										|Скрипты продаж
									li
										strong — 
										|Подтверждение
									li
										strong — 
										|Допродажи
									li
										strong — 
										|Упаковка
									li
										strong — 
										|Отправка по тарифам
										br
										|службы доставки
									li
										strong — 
										|Доведение до выкупа
									li
										strong — 
										|+25 Р /допродажа

								.price_cost__wrapper
									.price_cost 185 Р
									.price_cost_inform За заказ
							.price_button
								a(href="javascript:void(0)") Подключиться

				.consalting_feedback__wrapper
					.container
						.consalting_feedback
							.row
								.col-xs-12.col-sm-12.col-md-7.col-lg-7
									h2 Управляйте бизнесом из любой точки мира
								.col-xs-12.col-sm-12.col-md-5.col-lg-5
									.feedback_form
											form
												.input_style
													input(type="text" value="")
													label(for="name") Ваше имя
												.input_style
													input(type="text" value="")
													label(for="name") Номер мобильного
												input(type="submit" value="Получить консультацию")
		footer
			.container
				.footer__wrapper
					.footer_item.footer_item1
						p © ООО «Фулфилмент.биз», 2017
						p
							| Разработка — «
							a(href='#') Маркетинг Ниндзя
							| » 
							sup 2017
					.footer_item.footer_item2
						a(href="javascript:void(0);") Пользовательское соглашение
					.footer_item.footer_item3 8 800 558 05 83

		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/jquery.fittext.js")
		script(src="js/main.js")