@font-face {
  font-family: 'DINPro-Black';
  src: url('../fonts/DINPro-Black.woff') format('woff'),
       url('../fonts/DINPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.woff') format('woff'),
       url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}