body {
	background: url("../images/login/bg.jpg") no-repeat top center;
	background-size: cover;
}
.login {
	font-family: 'Roboto';
	&-page-wrap {
		min-height: 100vh;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}
	&-block-wrap {
	    padding: 6% 2rem 1rem 2rem;
	    margin: 0 auto 2rem auto;
	    overflow: hidden;
	}
	&-form-wrap {
		width: 430px;
	    margin: 0 auto;
	    text-align: center;
	}
	&-logo {
		img {
			border-radius: 10px;
		}
	}
	&-signin {

	}
	&-head {
		margin: 1.5rem 0 1.5rem 0;
		h3 {
			font-size: 28px;
			color: #fff;
			font-weight: 300;
		}
	}
	&-form {
		&__group {
			input {
				font-size: 15px;
			    color: #e3d9fa;
			    background: rgba(23, 4, 80, 0.4);
			    border-radius: 40px;
			    border: none;
			    padding: 0.8rem 1.5rem;
			    box-shadow: none;
			    font-weight: 300;
			    transition: all 0.3s;

			    &::placeholder {
			    	color: #e3d9fa !important;
			    }

			    &:focus,
			    &:active {
			    	border: none;
			    	background-color: rgba(67,34,167,0.5);
			    	color: #fff;
			    	box-shadow: none;

			    	&::placeholder {
				    	color: #fff !important;
				    }
			    }
			}
		}
		&__button {
			button {
				font-weight: 400;
			    font-size: 15px;
				display: inline-block;
			    text-align: center;
			    padding: 0.8rem 4rem;
			    margin-top: 0.8rem;
			    border: 1px solid #c2acf4;
			    background-color: transparent;
			    color: #fff;
			    outline: none !important;
			    cursor: pointer;
		        border-radius: 60px;
		        transition: all 0.3s ease;

		        &:hover,
		        &:focus {
		        	background-color: rgba(255, 255, 255, 0.36);
		        	color: #170e6b;
		        }
			}
		}
	}


}