doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Porfum
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/slick.css" rel="stylesheet")
		link(href="css/slick-theme.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		header
			.add_new_product_wrapper
				.add_new_product
					.add_new_product_img
						img(src="images/icons/cart_add.png")
					.add_new_product_inform
						span.new_author
							strong Алексей Черных 
							| из Красноярска 
						| приобрел 
						a(href="javascript:void(0);") Versace Man Eau Fraiche
			.header_container
				.top_line
					.time_wrap
						.time_info
							| До конца акции
							br
							| осталось:
						.timer
							span.hours 11
							span.minutes 12
							span.seconds 20
					.top_line_right
						.shopping_today.hidden-xs.hidden-sm
							| Заказов сегодня 
							span 2503

						.top_cart
							a#top_cart_link(href='#')
								img(alt='Корзина', src='images/icons/cart.png')
								span.badge_number_wrapper
									span.badge_number 5
								span.hidden-xs
									span.price_amount
										| 1,508 
										span.price_curse руб.
				.header_sale_wrapper
					.header_sale_title
						h1 ВНИМАНИЕ!
						h4 ПОСЛЕДНИЕ ДНИ МАГАЗИНА
					.header_sale_item_wrapper
						.header_sale_item_price
							| ВСЕ ПО  
							span.perfum_price 3695 
							| рублей

						.header_sale_item_img
							img(src="images/header_perfum.jpg")
						.header_sale_item_inform
							span РАСПРОДАЕМ ВСЕ 
							br 
							| ЧТО ЕСТЬ ПО ЦЕНАМ НИЖЕ ЗАКУПОЧНЫХ

		section.best_perfume_wrapper
			.best_perfume
				h2 Духи лучших производителей
				.best_perfume_item_wrapper
					.row
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume1.png")
								.best_perfume_item_inform
									p Запах духов идентичен оригинальному (90-100%)
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume2.png")
								.best_perfume_item_inform
									p Цены в 3-5 раз ниже цен на оригиналы
						.col-xs-12.col-sm-4
							.best_perfume_item
								.best_perfume_item_img
									img(src="images/best_perfume/best_perfume3.png")
								.best_perfume_item_inform
									p Стойкость соотвествует оригинальной
		section.section_links_wrapper
			.section_links
				h2 Найди свой аромат
				.section_links_to
					a(href="javascript:void(0);").custom_btn Женские духи
					a(href="javascript:void(0);").custom_btn Мужские духи

		.products_wrapper
			h2 Женские
			.products_item_wrapper
				.row
					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
									.product_remained 
										| 5
										span осталось
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 28%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 56%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать
				a(href="javascript:void(0);").custom_btn.show_more Показать еще

		.products_wrapper
			h2 Мужские
			.products_item_wrapper
				.row
					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
									.product_remained 
										| 5
										span осталось
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 2560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title CHRISTIAN dior
								.product_item_model Sauvage 100 ml
								.product_item_img
									img(src="images/perfume1.png")
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 28%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 56%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать

					.col-xs-12.col-sm-6.col-md-3
						.product_item
							.product_item_content
								.product_item_title Giorgio Armani
								.product_item_model Acqua di Gio pour homme 100 ml
								.product_item_img
									img(src="images/perfume2.png")
									.product_auto_sale 84%
								.product_in_stock В наличии
								.product_sale_wrap
									span.product_sale 5000 руб
									span.product_price 1560 руб
								.product_check_inform
									a(href="#") Посмотреть описание
								.product_inform
									.product_inform_content
										p Скоро мы добавим описание для этого парфюма
									a(href="javascript:void(0);").close_product_inform Закрыть

							a(href="javascript:void(0);").custom_btn Заказать
				a(href="javascript:void(0);").custom_btn.show_more Показать еще
		
		section.feedback_search_wrapper
			.feedback_search
				.row
					.col-xs-12.col-md-6
						.feedback_search_inform_wrapper
							.feedback_search_title 
								| Не Нашли 
								
								| Любимые духи?
							.feedback_search_inform
								p Заполните форму и мы вышлем вам полный список парфюма в наличии 

					.col-xs-12.col-md-6
						form
							.form_custom_group
								input(type="text" name="name" id="name").form-control
								label(for="name") Введите ваше имя
							.form_custom_group
								input(type="text" name="phone" id="phone").form-control
								label(for="phone") Введите ваш телефон
							input(type="submit" value="Найти духи").custom_btn


				
		footer
			


		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/slick.min.js")
		script(src="js/main.js")