doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Detox Juice
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/animate.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body

		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#useful') useful  
		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#process') process  
		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#about') about  
		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#effect') effect  
		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#awards') awards  
		//- a(href="javascript:void(0);" data-toggle='modal', data-target='#juice') juice  

		header
			.container_1000
				.header_top
					.row
						.col-sm-4
							a(href="javascript:void(0);").logo
								img(src="images/logo.png")
								span Здоровье и финансовое благополучие всей семьи

						.col-sm-8.header_contact_con
							.header_contact
								a(href="javascript:void(0);").start_business Начать бизнес
								.header_number
									a(href="tel:+79201916187").tel_number +7 (920) 191-61-87
									span.tel_time Звоните с 9:00 до 18:00
				.header_inform
					.header_inform_text
						|Больше полезных веществ,
						br
						| чем в любых других фруктовых
						br
						| или овощных соках

				.header_title_block.paral
					.boutle1_wrap
						.boutle_apple.layer(data-depth="0.5")
						.boutle_sticker.layer(data-depth="0.7")
					h1 
						|Попробуйте напитки Vertera
						|для 
						span энергии 
						| и 
						span детокса
					h5 не имеющие аналогов по содержанию витаминов

					.header_benefit 
						.row
							.col-sm-4
								.header_benefit_item.wow.fadeIn(data-wow-duration="2s" data-wow-delay="0.5s")
									img(src="images/medium-icons/yoga-girl.png" srcset="images/medium-icons/yoga-girl.png 1x, images/medium-icons/2x/yoga-girl@2x.png 2x")
									span Оздоровление и мягкое очищение организма без разгрузочных дней
							.col-sm-4
								.header_benefit_item.wow.fadeIn(data-wow-duration="2s" data-wow-delay="1s")
									img(src="images/medium-icons/object.png" srcset="images/medium-icons/object.png 1x, images/medium-icons/2x/object@2x.png 2x")
									span 20 витаминов и аминокислот, более 40 макро- и микро-элементов
							.col-sm-4
								.header_benefit_item.wow.fadeIn(data-wow-duration="2s" data-wow-delay="1.5s")
									img(src="images/medium-icons/fruits.png" srcset="images/medium-icons/fruits.png 1x, images/medium-icons/2x/fruits@2x.png 2x")
									span Вкус и состав подходит каждому: нет сахара, только натуральный фруктовый сок и ламинария

		section.result_wrap
			.container_1000
				.result_title
					a(href="javascript:void(0);").arrow-down
					| Давайте подберем напиток
					br
					| именно для вас
				
				.result_block.fade.in.result_block_static.result_block1#result1.paral
					.splash
					.result_boutle_wrap
						.result_sticker.layer(data-depth="0.3")
						.result_boutle.layer(data-depth="0.5")
					.row
						.col-xs-offset-5.col-sm-offset-7.col-sm-5.result_block_con
							.result_block_title_wrap
								.result_block_title
									|Подберите вкусный
									br
									| и полезный для вас
									br
									| напиток
								.result_block_text
									| Мы подскажем, как вам начать детокс,
									br
									| и какой напиток подойдет лучше

						.col-sm-offset-2.col-sm-6.result_want_wrap
							.result_want
								| Какого результата вы хотите достичь в первую очередь?

						.col-sm-offset-4.col-md-offset-3.col-sm-8
							.result_block_items
								.row
									.col-xs-6.col-sm-3
											a(href="#result2" data-toggle="tab").result_block_item
												img(src="images/medium-icons/yoga.png" srcset="images/medium-icons/yoga.png 1x, images/medium-icons/2x/yoga@2x.png 2x")
												span Оздоровиться
									.col-xs-6.col-sm-3
											a(href="#result2" data-toggle="tab").result_block_item
												img(src="images/medium-icons/treadmill.png" srcset="images/medium-icons/treadmill.png 1x, images/medium-icons/2x/treadmill@2x.png 2x")
												span Взбодриться
									.col-xs-6.col-sm-3
											a(href="#result2" data-toggle="tab").result_block_item
												img(src="images/medium-icons/fitness.png" srcset="images/medium-icons/fitness.png 1x, images/medium-icons/2x/fitness@2x.png 2x")
												span Похудеть
									.col-xs-6.col-sm-3
											a(href="#result2" data-toggle="tab").result_block_item
												img(src="images/medium-icons/mountains.png" srcset="images/medium-icons/mountains.png 1x, images/medium-icons/2x/mountains@2x.png 2x")
												span Разгрузиться

				.result_block.fade.result_block_static.result_block2#result2
						.splash
						.result_boutle
						.row
							.col-xs-offset-5.col-sm-offset-7.col-sm-5.result_block_con
								.result_block_title_wrap
									.result_block_title
										|Как много вы двигаетесь
										br
										| в течении дня?
									.result_block_text
										| Мы подскажем, как вам начать детокс,
										br
										| и какой напиток подойдет лучше

							.col-sm-offset-2.col-sm-6.result_want_wrap
								.result_want
									| оцените свой уровень
									br
									| физической активности

							.col-sm-offset-4.col-sm-8.result_block_items_con
								.result_block_items
									.row
										.col-xs-6.col-sm-4
												a(href="#result3" data-toggle="tab").result_block_item
													img(src="images/medium-icons/nizkiy.png" srcset="images/medium-icons/nizkiy.png 1x, images/medium-icons/2x/nizkiy@2x.png 2x")
													span Низкий
												.result_block_item_text 
													| Малоподвижный образ 
													br
													| жизни, сидячая работа
										.col-xs-6.col-sm-4
												a(href="#result3" data-toggle="tab").result_block_item
													img(src="images/medium-icons/sredniy.png" srcset="images/medium-icons/sredniy.png 1x, images/medium-icons/2x/sredniy@2x.png 2x")
													span Средный
												.result_block_item_text 
													| Обычно ваш день — 
													br
													| это работа, дом, поход 
													br
													| в магазин, прогулки
										.col-xs-12.col-sm-4
												a(href="#result3" data-toggle="tab").result_block_item
													img(src="images/medium-icons/visokiy.png" srcset="images/medium-icons/visokiy.png 1x, images/medium-icons/2x/visokiy@2x.png 2x")
													span Высокий
												.result_block_item_text 
													| Регулярные занятие
													br
													| спортом, много прогулок

				.result_block.fade.result_block_static.result_block3#result3
					.result_block3_wrap
						.girl-drink
						.row
							.col-sm-offset-6.col-sm-7.col-md-offset-7.col-md-5.result_block_con
								.result_block_title_wrap
									.result_block_title
										|Рекомендуем курс детоксикации
										br
										| для оздоровления организма
									.result_block_text
										| Выпивайте ежедневно по 1 бутылочке Detox Juice утром и вечером, и примерно через месяц почувствуете на себе эффект. Гель из ламинарии укрепит ваш иммунитет, выведет токсины, насытит организм полезными веществами, макро 
										br
										| и микроэлементами, аминокислотами.  
		
		section.products
			.container_1000
				h4 Рекомендуем начать с этих напитков
			//- #product_prev
			//- #product_next
			.product_slider(data-simplebar)

				.product_category
					img(src="images/products/category1.png" srcset="images/products/category1.png 1x, images/products/2x/category1@2x.png 2x")
				.product
					.product_img
						img(src="images/products/white_apple.png" srcset="images/products/white_apple.png 1x, images/products/2x/white_apple@2x.png 2x")
						img(src="images/products/white_apple_active.png" srcset="images/products/white_apple_active.png 1x, images/products/2x/white_apple_active@2x.png 2x").active
					.product_name
						|Detox Juice «Яблоко»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/white_pear.png" srcset="images/products/white_pear.png 1x, images/products/2x/white_pear@2x.png 2x")
						img(src="images/products/white_pear_active.png" srcset="images/products/white_pear_active.png 1x, images/products/2x/white_pear_active@2x.png 2x").active
					.product_name
						|Detox Juice «Груша»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/white_vine.png" srcset="images/products/white_vine.png 1x, images/products/2x/white_vine@2x.png 2x")
						img(src="images/products/white_vine_active.png" srcset="images/products/white_vine_active.png 1x, images/products/2x/white_vine_active@2x.png 2x").active
					.product_name
						|Detox Juice «Виноград»
					.product_price
						| 299 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product_category
					img(src="images/products/category2.png" srcset="images/products/category2.png 1x, images/products/2x/category2@2x.png 2x")

				.product
					.product_img
						img(src="images/products/black_apple.png" srcset="images/products/black_apple.png 1x, images/products/2x/black_apple@2x.png 2x")
						img(src="images/products/black_apple_active.png" srcset="images/products/black_apple_active.png 1x, images/products/2x/black_apple_active@2x.png 2x").active
					.product_name
						|Energy Juice «Яблоко»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/black_pear.png" srcset="images/products/black_pear.png 1x, images/products/2x/black_pear@2x.png 2x")
						img(src="images/products/black_pear_active.png" srcset="images/products/black_pear_active.png 1x, images/products/2x/black_pear_active@2x.png 2x").active
					.product_name
						|Energy Juice «Груша»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/black_vine.png" srcset="images/products/black_vine.png 1x, images/products/2x/black_vine@2x.png 2x")
						img(src="images/products/black_vine_active.png" srcset="images/products/black_vine_active.png 1x, images/products/2x/black_vine_active@2x.png 2x").active
					.product_name
						|Energy Juice «Виноград»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product_category.product_category3
					img(src="images/products/category3.png" srcset="images/products/category3.png 1x, images/products/2x/category3@2x.png 2x")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_apple.png" srcset="images/products/juice_set_apple.png 1x, images/products/2x/juice_set_apple@2x.png 2x")
					.product_name
						|Detox Juice Set «Яблоко»
					.product_price
						| 1 755 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_pear.png" srcset="images/products/juice_set_pear.png 1x, images/products/2x/juice_set_pear@2x.png 2x")
					.product_name
						|Detox Juice Set «Груша»
					.product_price
						| 1 755 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_vine.png" srcset="images/products/juice_set_vine.png 1x, images/products/2x/juice_set_vine@2x.png 2x")
					.product_name
						|Detox Juice Set «Виноград»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_apple.png" srcset="images/products/juice_set_black_apple.png 1x, images/products/2x/juice_set_black_apple@2x.png 2x")
					.product_name
						|Energy Juice Set «Яблоко»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_pear.png" srcset="images/products/juice_set_black_pear.png 1x, images/products/2x/juice_set_black_pear@2x.png 2x")
					.product_name
						|Energy Juice Set «Груша»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_vine.png" srcset="images/products/juice_set_black_vine.png 1x, images/products/2x/juice_set_black_vine@2x.png 2x")
					.product_name
						|Energy Juice Set «Виноград»
					.product_price
						| 1 870 ₽
					.product_btn
						a(href="javascript:void(0);")
		
		section.instructions
			.container_1000
				h4 Больше пользы, чем в других напитках с соком, благодаря авторскому составу Vertera
				.boutle_instruction
					.boutle.wow.paral
						.new_product
						.parallax_fruit.layer(data-depth="0.4")
						.boutle_img
							img(src="images/instruction/boutle.png" srcset="images/instruction/boutle.png 1x, images/instruction/2x/boutle@2x.png 2x" data-wow-duration="2s").wow.fadeIn
							img(src="images/instruction/boutle_mix.png").mix
						
						.boutle_natural.wow.fadeInRight(data-wow-duration="2s" data-wow-delay="2s")
							.boutle_natural_img
								img(src="images/instruction/orange-juice.png" srcset="images/instruction/orange-juice.png 1x, images/instruction/2x/orange-juice@2x.png 2x")
							.boutle_inform
								.boutle_natural_title
									|100 % натуральный фруктовый сок

						.boutle_natural2.wow.fadeInRight(data-wow-duration="2s" data-wow-delay="3s")
							.boutle_natural_img
								img(src="images/instruction/agreement.png" srcset="images/instruction/agreement.png 1x, images/instruction/2x/agreement@2x.png 2x")
							.boutle_inform
								.boutle_natural_title
									|Клеточный гель 
									br
									| водоросли ламинарии —
								.boutle_natural_text
									|запатентованная разработка компании Vertera.
						
						.boutle_natural3
							.boutle_natural3_con
								.boutle_natural_img
									img(src="images/instruction/13.png" srcset="images/instruction/13.png 1x, images/instruction/2x/13@2x.png 2x")
								.boutle_inform
									.boutle_natural_title
										|Гель получил 13 наград за инновации в области диетического лечебного
									.boutle_natural_text
										|Эффективность подтверждена клиническими испытаниями.
		
		section.advantage
			.container_1000
				h4 Более 40 микро-, макро- и ультраэлементов перезагружают все системы организма

				.advantage_clearing.wow.fadeInUp(data-wow-duration="1.5s")
					.row
						.col-sm-6.clearing_image
							img(src="images/advantage/clearing.png" srcset="images/advantage/clearing.png 1x, images/advantage/2x/clearing@2x.png 2x")
						.col-sm-6.advantage_inform_wrap
							.advantage_inform
								.advantage_title Очищают лучше любой диеты
								.advantage_text
									p благодаря сильному природному сорбенту — альгинату кальция
									ul
										li Выводят шлаки и токсины
										li Ускоряют жиросжигание, избавляют от лишнего веса
										li Стимулируют обмен вещест

				.advantage_saving.wow.fadeInUp(data-wow-duration="1.5s")
					.row
						.col-sm-6.advantage_inform_wrap
							.advantage_inform
								.advantage_title 
									| Сохраняют красоту 
									br
									| и молодость
								.advantage_text
									ul
										li Улучшают кожу — борются с морщинами, высыпаниями, целлюлитом
										li Нормализуют состояние волос:
											br
											| питают и оживляют их
										li Стимулируют регенерацию клеток  

						.col-sm-6.advantage_saving_vitamins
							.vitamin_form_wrap
								.vitamin_form
									.vitamin_a
										p 
											b Витамины А, Е, С, В12 
											| запускают
											br
											|восстановление кожи и улучшают
											br
											| её структуру.
									.vitamin_h
										p 
											b Холин 
											| увлажняет кожный покров,
											br
											|кальций стабилизирует кожную
											br
											| структуру на клеточном уровне.
									.vitamin_i
										p 
											b Йод 
											| обеззараживает кожу
											br
											|и подавляет деятельность
											br
											| микробов.
									.vitamin_f
										p 
											b Фукоидан 
											| замедляет процесс
											br
											|старения.
				
				.advantage_trofey.wow.fadeInUp(data-wow-duration="1.5s")
					.row
						.col-sm-5.trofey_img_wrap
							.trofey_img_con
								.trofey_img
									img(src="images/advantage/trofey.png" srcset="images/advantage/trofey.png 1x, images/advantage/2x/trofey@2x.png 2x")
								.trofey_img_inform
									p 
										|Ламинария входит
										br
										|в топ-3 продуктов 
										br
										|по содержанию йода  

						.col-sm-7.trofey_inform_wrap
							.trofey_inform
								.advantage_title Улучшают состояние здоровья
								.advantage_text
									ul
										li Укрепляют иммунитет
										li Восстанавливают гормональный баланс, оберегают от депрессии
										li Оздоравливают организм в комплексе и предотвращают заболевания

				.advantage_calendar.wow.fadeInUp(data-wow-duration="1.5s")
					.calendar_image
						img(src="images/advantage/calendar.png" srcset="images/advantage/calendar.png 1x, images/advantage/2x/calendar@2x.png 2x")
					.calendar_inform_wrap
						.calendar_text
							p Рекомендуем выпивать по 2 бутылочки напитка ежедневно в течение 21 дня, чтобы ощутить на себе эффект и получить всю пользу
		
		section.why
			.container_1000
				h4 Вы почувствуете прилив бодрости быстрее, чем после чашки кофе
				.why_subtext Это один из самых простых и здоровых способов получить энергию
				.why_items
					.row
						.col-xs-6.col-sm-6.col-md-3.wow.flipInX(data-wow-duration="1.5s")
							.why_item
								.why_item_img
									img(src="images/why/brain.png" srcset="images/why/brain.png 1x, images/why/2x/brain@2x.png 2x")
								.why_item_title 
									|Для ежедневной
									br
									|активности
								.why_item_text
									| Устраняет усталость,
									br
									| повышает работоспособность
								.why_item_when
									|Выпейте натощак
									br
									|1-2 бутылочки напитка
						.col-xs-6.col-sm-6.col-md-3.wow.flipInX(data-wow-duration="1.5s" data-wow-delay="0.8s")
							.why_item
								.why_item_img
									img(src="images/why/ball.png" srcset="images/why/ball.png 1x, images/why/2x/ball@2x.png 2x")
								.why_item_title 
									|Для занятий
									br
									|спортом
								.why_item_text
									| Повышает выносливость
									br
									| организма
								.why_item_when
									|Выпейте натощак
									br
									|1-2 бутылочки напитка
						.col-xs-6.col-sm-6.col-md-3.wow.flipInX(data-wow-duration="1.5s" data-wow-delay="1.6s")
							.why_item
								.why_item_img
									img(src="images/why/helm.png" srcset="images/why/helm.png 1x, images/why/2x/helm@2x.png 2x")
								.why_item_title 
									|Для снятия усталости
									br
									|за рулем
								.why_item_text
									| Повышает скорость реакции, 
									br
									| улучшает концентрацию внимания
								.why_item_when
									|Выпейте натощак
									br
									|1-2 бутылочки напитка
						.col-xs-6.col-sm-6.col-md-3.wow.flipInX(data-wow-duration="1.5s" data-wow-delay="2.4s")
							.why_item
								.why_item_img
									img(src="images/why/lips.png" srcset="images/why/lips.png 1x, images/why/2x/lips@2x.png 2x")
								.why_item_title 
									|Для ярких ощущений
									br
									|в сексе
								.why_item_text
									| Восстанавливает гормональный
									| баланс и дает энергию
								.why_item_when
									|Выпейте натощак
									br
									|1-2 бутылочки напитка
		
		section.rate.products
			.container_1000
				h4 Начните с одной бутылочки — и оцените, как изменится ваше самочувствие
			//- #product_prev
			//- #product_next
			.product_slider(data-simplebar)
				.product_category.product_category4
					img(src="images/products/category_boutle.png" srcset="images/products/category_boutle.png 1x, images/products/2x/category_boutle@2x.png 2x")
				.product
					.product_img
						img(src="images/products/white_apple.png" srcset="images/products/white_apple.png 1x, images/products/2x/white_apple@2x.png 2x")
						img(src="images/products/white_apple_active.png" srcset="images/products/white_apple_active.png 1x, images/products/2x/white_apple_active@2x.png 2x").active
					.product_name
						|Detox Juice «Яблоко»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/white_pear.png" srcset="images/products/white_pear.png 1x, images/products/2x/white_pear@2x.png 2x")
						img(src="images/products/white_pear_active.png" srcset="images/products/white_pear_active.png 1x, images/products/2x/white_pear_active@2x.png 2x").active
					.product_name
						|Detox Juice «Груша»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/white_vine.png" srcset="images/products/white_vine.png 1x, images/products/2x/white_vine@2x.png 2x")
						img(src="images/products/white_vine_active.png" srcset="images/products/white_vine_active.png 1x, images/products/2x/white_vine_active@2x.png 2x").active
					.product_name
						|Detox Juice «Виноград»
					.product_price
						| 299 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/black_apple.png" srcset="images/products/black_apple.png 1x, images/products/2x/black_apple@2x.png 2x")
						img(src="images/products/black_apple_active.png" srcset="images/products/black_apple_active.png 1x, images/products/2x/black_apple_active@2x.png 2x").active
					.product_name
						|Energy Juice «Яблоко»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/black_pear.png" srcset="images/products/black_pear.png 1x, images/products/2x/black_pear@2x.png 2x")
						img(src="images/products/black_pear_active.png" srcset="images/products/black_pear_active.png 1x, images/products/2x/black_pear_active@2x.png 2x").active
					.product_name
						|Energy Juice «Груша»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product
					.product_img
						img(src="images/products/black_vine.png" srcset="images/products/black_vine.png 1x, images/products/2x/black_vine@2x.png 2x")
						img(src="images/products/black_vine_active.png" srcset="images/products/black_vine_active.png 1x, images/products/2x/black_vine_active@2x.png 2x").active
					.product_name
						|Energy Juice «Виноград»
					.product_price
						| 292 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product_category.product_category4
					img(src="images/products/category_set.png" srcset="images/products/category_set.png 1x, images/products/2x/category_set@2x.png 2x")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_apple.png" srcset="images/products/juice_set_apple.png 1x, images/products/2x/juice_set_apple@2x.png 2x")
					.product_name
						|Detox Juice Set «Яблоко»
					.product_price
						| 1 755 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_pear.png" srcset="images/products/juice_set_pear.png 1x, images/products/2x/juice_set_pear@2x.png 2x")
					.product_name
						|Detox Juice Set «Груша»
					.product_price
						| 1 755 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_vine.png" srcset="images/products/juice_set_vine.png 1x, images/products/2x/juice_set_vine@2x.png 2x")
					.product_name
						|Detox Juice Set «Виноград»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_apple.png" srcset="images/products/juice_set_black_apple.png 1x, images/products/2x/juice_set_black_apple@2x.png 2x")
					.product_name
						|Energy Juice Set «Яблоко»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_pear.png" srcset="images/products/juice_set_black_pear.png 1x, images/products/2x/juice_set_black_pear@2x.png 2x")
					.product_name
						|Energy Juice Set «Груша»
					.product_price
						| 1 792 ₽
					.product_btn
						a(href="javascript:void(0);")

				.product.juice_set
					.product_img
						img(src="images/products/juice_set_black_vine.png" srcset="images/products/juice_set_black_vine.png 1x, images/products/2x/juice_set_black_vine@2x.png 2x")
					.product_name
						|Energy Juice Set «Виноград»
					.product_price
						| 1 870 ₽
					.product_btn
						a(href="javascript:void(0);")
		
		section.useful
			.container_1000
				.useful_boutle
				.row
					.col-xs-6.col-sm-6.useful_left_col
						.useful_breif
							.useful_breif_img
								img(src="images/useful/kaplya.png" srcset="images/useful/kaplya.png 1x, images/useful/2x/kaplya@2x.png 2x")
							.uselful_breif_text
								|Гель создан
								br
								| на очищенной воде — 
								br
								| все компоненты без
								br
								| препятствий проникают
								br
								| в клетки

						.useful_items.items_left
							.useful_item.item6
								.useful_item_title Биоактивные соединени
								.useful_item_text
									|Альгиновые кислоты, фукоидан, ламинаран, маннит, белки, липиды Выводят шлаки и токсины, повышают устойчивость организма к вирусам, бактериям, предотвращают образование опухолей
							.useful_item.item7
								.useful_item_title Макро-, микро- и ультраэлементы
								.useful_item_text
									|Йод, калий, магний, бром, марганец, азот, сера, фосфор, натрий, железо Участвуют в обменных процессах, укрепляют и оздоравливают организм
							.useful_item.item8
								.useful_item_title Полезные аминокислот
								.useful_item_text
									|Пролин, глицин, лейцин, аспаргиновая кислота, теронин, серин, глутамин, аланин, цистин, валин, метионин, изолейцин, фенилаланин, лизин, аргинин, гистидин, тирозин. Участвуют в синтезе белка - основного «строительного материала» нашего организма 

					.col-xs-6.col-sm-6.useful_right_col
						h4 
							| Полезные вещества
							br
							| компонентов напитка
							br
							| Vertera усваиваются до 90%
						.useful_subtitle 
							| Это больше, чем у любого другого
							br
							| сока или продукта с сухой ламинарией

						.useful_items.items_right
							.useful_item.item1
								.useful_item_title Гуарана
								.useful_item_text
									|Повышает работоспособность и стимулирует деятельность нервной системы
							.useful_item.item2
								.useful_item_title Таурин
								.useful_item_text
									|Обеспечивает организм энергией при стрессах
							.useful_item.item3
								.useful_item_title Элеутерококк
								.useful_item_text
									|Улучшает физическую и интеллектуальную работоспособность
							.useful_item.item4
								.useful_item_title L-карнитин
								.useful_item_text
									|Снимает усталость, способствует снижению веса, заряжает энергией
							.useful_item.item5
								.useful_item_title Витамины A, B, C, D, E
								.useful_item_text
									|Баланс витаминов нормализует обменные процессы в организме, улучшается самочувствие, настроение,  состояние кожи, волос
		
		section.technology
			.container_1000
				.row
					.col-xs-12.col-sm-6.item1
						.technology_item
							.technology_img
								img(src="images/useful/algae.png" srcset="images/useful/algae.png 1x, images/useful/2x/algae@2x.png 2x")
							.technology_title
								| Технология производства увеличивает усваиваемость ламинарии до 90%
							.technology_text
								| Сравните: при простом применении в пищу морские водоросли усваиваются максимум на 15%.
					.col-xs-12.col-sm-6.item2
						.technology_item
							.technology_img
								img(src="images/useful/algae-2.png" srcset="images/useful/algae-2.png 1x, images/useful/2x/algae-2@2x.png 2x")
							.technology_title
								| Водно-солевой состав ламинарии практически идентичен составу плазмы крови
							.technology_text
								| Поэтому она является идеальным агентом по доставке в организм ценных веществ.

		section.feedback
			.container_1000
				.row
					.col-xs-12.col-sm-6
						h4 Десятки тысяч людей уже оценили эффект наших напитков
					.col-xs-12.col-sm-6
						.blockquote_wrap
							.blockquote Почитайте и посмотрите отзывы тех, кто уже попробовал наши напитки
							
			.siteslider_wrap
				.siteslider.owl-carousel
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')
					.feedback_item
						a.owl-video(href='https://www.youtube.com/watch?v=EF_kj2ojZaE')

		section.choose
			.container_1000
				h4 Выберите свой вкус из 6 видов напитка Vertera
				ul(role='tablist')
					li.active(role='presentation')
						a(href='#porciya', aria-controls='porciya', role='tab', data-toggle='tab') Порция
					li(role='presentation')
						a(href='#set', aria-controls='set', role='tab', data-toggle='tab') Сеты
				
				.tab-content
					#porciya.fade.in.active.tab-pane(role='tabpanel') 
						.choose_product_wrap
							.row
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/white_apple.png" srcset="images/products/white_apple.png 1x, images/products/2x/white_apple@2x.png 2x")
										.product_name
											|Detox Juice «Яблоко»
										.product_price
											| 292 ₽
										.product_btn
											a(href="javascript:void(0);")
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/white_pear.png" srcset="images/products/white_pear.png 1x, images/products/2x/white_pear@2x.png 2x")
										.product_name
											|Detox Juice «Груша»
										.product_price
											| 292 ₽
										.product_btn
											a(href="javascript:void(0);")
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/white_vine.png" srcset="images/products/white_vine.png 1x, images/products/2x/white_vine@2x.png 2x")
										.product_name
											|Detox Juice «Виноград»
										.product_price
											| 299 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/black_apple.png" srcset="images/products/black_apple.png 1x, images/products/2x/black_apple@2x.png 2x")
										.product_name
											|Energy Juice «Яблоко»
										.product_price
											| 292 ₽
										.product_btn
											a(href="javascript:void(0);")
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/black_pear.png" srcset="images/products/black_pear.png 1x, images/products/2x/black_pear@2x.png 2x")
										.product_name
											|Energy Juice «Груша»
										.product_price
											| 292 ₽
										.product_btn
											a(href="javascript:void(0);")
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/black_vine.png" srcset="images/products/black_vine.png 1x, images/products/2x/black_vine@2x.png 2x")
										.product_name
											|Energy Juice «Виноград»
										.product_price
											| 292 ₽
										.product_btn
											a(href="javascript:void(0);")

					#set.fade.tab-pane(role='tabpanel')
						.choose_product_wrap
							.row
								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_apple.png" srcset="images/products/juice_set_apple.png 1x, images/products/2x/juice_set_apple@2x.png 2x")
										.product_name
											|Detox Juice «Яблоко»
										.product_price
											| 1 755 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_pear.png" srcset="images/products/juice_set_pear.png 1x, images/products/2x/juice_set_pear@2x.png 2x")
										.product_name
											|Detox Juice «Груша»
										.product_price
											| 1 755 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_vine.png" srcset="images/products/juice_set_vine.png 1x, images/products/2x/juice_set_vine@2x.png 2x")
										.product_name
											|Detox Juice Set «Виноград»
										.product_price
											| 1 792 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_black_apple.png" srcset="images/products/juice_set_black_apple.png 1x, images/products/2x/juice_set_black_apple@2x.png 2x")
										.product_name
											|Energy Juice Set «Яблоко»
										.product_price
											| 1 792 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_black_pear.png" srcset="images/products/juice_set_black_pear.png 1x, images/products/2x/juice_set_black_pear@2x.png 2x")
										.product_name
											|Detox Juice «Груша»
										.product_price
											| 1 792 ₽
										.product_btn
											a(href="javascript:void(0);")

								.col-xs-6.col-sm-4
									.choose_product_item
										.product_img
											img(src="images/products/juice_set_black_vine.png" srcset="images/products/juice_set_black_vine.png 1x, images/products/2x/juice_set_black_vine@2x.png 2x")
										.product_name
											|Detox Juice «Груша»
										.product_price
											| 1 870 ₽
										.product_btn
											a(href="javascript:void(0);")

		footer
			.container_1000
				.footer_wrap
					.row
						.col-xs-12.col-sm-12.col-md-7.col-lg-8
							.footer_menu
								ul
									li
										a(href="javascript:void(0);") Доставка и оплата
									li
										a(href="javascript:void(0);") Доставка и оплата

								ul
									li
										a(href="javascript:void(0);") О Vertera
									li
										a(href="javascript:void(0);") О продукции
									li
										a(href="javascript:void(0);") Косметика Vertera

								ul
									li
										a(href="javascript:void(0);") Контакты
									li
										a(href="javascript:void(0);") Реквизиты

						.col-xs-12.col-sm-12.col-md-5.col-lg-4
							.footer_inform
								p 170100, Тверь, ул. Бассейная, д. 5, пом. III-1
								p +7 (920) 184-84-27,  +7 (920) 160-06-96
								p 
									a(href="mailto:info@vertera.org") info@vertera.org
			
		
		#useful.useful_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='usefulModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						h4 
							| Полезные вещества оздоравливают организм 
							br
							| и предотвращают появляение серьезных заболеваний
						.useful_items_wrap
							.useful_items
								.useful_item.useful_item-1.col-2
									.useful_item_img
										img(src="images/modals/useful/icon1.png" srcset="images/modals/useful/icon1.png 1x, images/modals/useful/2x/icon1@2x.png 2x")
									.useful_item_text
										| Укрепляют сердечно-сосудистую систему — очищают сосуды, предотвращают образование тромбов
								.useful_item.useful_item-2.col-2
									.useful_item_img
										img(src="images/modals/useful/icon2.png" srcset="images/modals/useful/icon2.png 1x, images/modals/useful/2x/icon2@2x.png 2x")
									.useful_item_text
										| Решают проблемы ЖКТ — дисбактериоз, воспаления, предотвращают появление язвы желудка
								.useful_item.useful_item-3.col-3
									.useful_item_img
										img(src="images/modals/useful/icon3.png" srcset="images/modals/useful/icon3.png 1x, images/modals/useful/2x/icon3@2x.png 2x")
									.useful_item_text
										| Снижают уровень сахара и холестерина 
								.useful_item.useful_item-4.col-3
									.useful_item_img
										img(src="images/modals/useful/icon4.png" srcset="images/modals/useful/icon4.png 1x, images/modals/useful/2x/icon4@2x.png 2x")
									.useful_item_text
										| Предотвращают появление опухолей
								.useful_item.useful_item-5.col-3
									.useful_item_img
										img(src="images/modals/useful/icon5.png" srcset="images/modals/useful/icon5.png 1x, images/modals/useful/2x/icon5@2x.png 2x")
									.useful_item_text
										| Улучшают работу щитовидной железы


		#process.process_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='processModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						h4 
							| В процессе производства мы «открываем» клетку живой ламинарии,   делая её содержимое полностью доступным для усвоения  
						.process_items_wrap
							.process_items
								.process_item.useful_item-1.col-2
									.process_item_img
										img(src="images/modals/process/icon1.png" srcset="images/modals/process/icon1.png 1x, images/modals/process/2x/icon1@2x.png 2x")
									.process_item_text_wrap
										.process_item_title Шаг первый
										.process_item_text
											| Мы опускаем ламинарию в раствор соли кальция, чтобы разрушить нерастворимую оболочку клеток водоросли и получить активное вещество геля — альгинат кальция, который хорошо усваивается организмом.
								.process_item.process_item-2.col-2
									.process_item_img
										img(src="images/modals/process/icon2.png" srcset="images/modals/process/icon2.png 1x, images/modals/process/2x/icon2@2x.png 2x")
									.process_item_text_wrap
										.process_item_title Шаг второй
										.process_item_text
											| Для выделения активного вещества воспроизводим работу желудочно-кишечного тракта человека.
								.process_item.process_item-3.col-3
									.process_item_img
										img(src="images/modals/process/icon3.png" srcset="images/modals/process/icon3.png 1x, images/modals/process/2x/icon3@2x.png 2x")
									.process_item_text_wrap
										.process_item_title Шаг третий
										.process_item_text
											| После обработки ферментами доводим продукт до однородной массы.

		#about.about_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='aboutModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						h4 
							| Детокс — комплексное очищение организма от шлаков, токсинов, солей, радиоактивных веществ и тяжелых металлов

						.about_text_block
							.about_img_girl
								img(src="images/modals/about/girl.png" srcset="images/modals/about/girl.png 1x, images/modals/about/2x/girl@2x.png 2x")
							.about_text
								| До 18-20 лет организм может самоочищаться, но далее ему требуется дополнительная помощь. В результате детокса шлаки и токсины покинут организм естественным путем, внутренние органы смогут работать в обычном режиме.

							.about_result
								.about_result_img
									img(src="images/modals/about/true.png" srcset="images/modals/about/true.png 1x, images/modals/about/2x/true@2x.png 2x")
								.about_result_text_wrap
									.about_result_title А что в результате?
									.about_result_text В результате — нормализация пищеварения, улучшение состояния кожи, укрепление защитных сил организма, отличное самочувствие, избавление от проявлений аллергии и повышение работоспособности.

		#effect.effect_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='effectModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						h4 
							| Эффективность геля
							br
							| доказана клиническими испытаниями

						.effect_items.owl-carousel
							.effect_item
								.effect_img
									img(src="images/modals/effect/1.png" srcset="images/modals/effect/1.png 1x, images/modals/effect/2x/1@2x.png 2x")

							.effect_item
								.effect_img
									img(src="images/modals/effect/1.png" srcset="images/modals/effect/1.png 1x, images/modals/effect/2x/1@2x.png 2x")

							.effect_item
								.effect_img
									img(src="images/modals/effect/1.png" srcset="images/modals/effect/1.png 1x, images/modals/effect/2x/1@2x.png 2x")

						.effect_item_con
							.effect_text Протокол испытаний образца геля на содержание и состав микроэлементов
							.effect_text Протокол испытаний образца геля на содержание и состав микроэлементов2
							.effect_text Протокол испытаний образца геля на содержание и состав микроэлементов3

		#awards.awards_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='awardsModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						h4 
							|Награды, которые получил гель Vertera (входит в состав напитка)

						.award_items
							.row
								.col-xs-12.col-sm-6
									.award_item
										.award_item_img
											img(src="images/modals/award/img1.png" srcset="images/modals/award/img1.png 1x, images/modals/award/2x/img1@2x.png 2x")

										.award_text_block
											.award_text 
												| Диплом «Экспо-Тверь» за участие в 8-й специализированной выставке «ПРОДЭКСПО» (23-25 апреля 2008 года);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img2.png" srcset="images/modals/award/img2.png 1x, images/modals/award/2x/img2@2x.png 2x")

										.award_text_block
											.award_text 
												| Почетная медаль Екатерины Дашковой на основании решения Президиума Российской академии
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img3.png" srcset="images/modals/award/img3.png 1x, images/modals/award/2x/img3@2x.png 2x")

										.award_text_block
											.award_text 
												| Диплом за II место в рамках выставки «Красота. Здоровье. Молодость» в номинации «Продукт здорового питания»
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img4.png" srcset="images/modals/award/img4.png 1x, images/modals/award/2x/img4@2x.png 2x")

										.award_text_block
											.award_text 
												| Диплом лауреата Международного конкурса «Лучший продукт -2009» (9-13 февраля 2009 года);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img5.png" srcset="images/modals/award/img5.png 1x, images/modals/award/2x/img5@2x.png 2x")

										.award_text_block
											.award_text 
												| Диплом17-й международной выставки «Медицина +» (16-18 июня 2008 года); 
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img6.png" srcset="images/modals/award/img6.png 1x, images/modals/award/2x/img6@2x.png 2x")

										.award_text_block
											.award_text 
												| Серебряная медаль на ежегодном всероссийском форуме «Здравница – 2017» (30 мая-01 июня 2017 года, г. Уфа).
											.award_link
												a(href="javascript:void(0);") Скачать оригинал
								.col-xs-12.col-sm-6
									.award_item
										.award_item_img
											img(src="images/modals/award/img7.png" srcset="images/modals/award/img7.png 1x, images/modals/award/2x/img7@2x.png 2x")

										.award_text_block
											.award_text 
												| Почётная медаль «За вклад в укрепление здоровья нации» (рег. №367 от 29 августа 2006 года);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img8.png" srcset="images/modals/award/img8.png 1x, images/modals/award/2x/img8@2x.png 2x")

										.award_text_block
											.award_text 
												| Медаль Организационного комитета Международного конкурса «Экологически безопасная продукция» (свидетельство № 979); 
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img9.png" srcset="images/modals/award/img9.png 1x, images/modals/award/2x/img9@2x.png 2x")

										.award_text_block
											.award_text 
												| Золотая медаль выставки «Красота. Здоровье. Долголетие» (2-6 апреля 2008 года);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img10.png" srcset="images/modals/award/img10.png 1x, images/modals/award/2x/img10@2x.png 2x")

										.award_text_block
											.award_text 
												| Дипломант Всероссийского конкурса программы «100 лучших товаров России» финалисту за производство
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img11.png" srcset="images/modals/award/img11.png 1x, images/modals/award/2x/img11@2x.png 2x")

										.award_text_block
											.award_text 
												| Благодарность за участие в международной выставке «ПРОДЭКСПО-2016» (8-12 февраля 2016 года);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал

									.award_item
										.award_item_img
											img(src="images/modals/award/img12.png" srcset="images/modals/award/img12.png 1x, images/modals/award/2x/img12@2x.png 2x")

										.award_text_block
											.award_text 
												| Диплом победителя ежегодного конкурса «Лидер промышленности-2016» за уникальный вклад в создание инновационного производства в сфере здорового питания (13 декабря 2016 года, г. Москва);
											.award_link
												a(href="javascript:void(0);") Скачать оригинал
		
		#juice.juice_modal.juice_pear.modal.fade(tabindex='-1', role='dialog', aria-labelledby='juiceModal')
			.modal-dialog(role='document')
				.modal-content
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					.modal-body
						.juice_item
							.row
								.juice_img
									img(src="images/modals/products/pear.png" srcset="images/modals/products/pear.png 1x, images/modals/products/2x/pear@2x.png 2x")
								
								.col-md-offset-5.col-md-7
									.juice_text_block
										h4 Detox Juice (Груша)
										p 
											| Напиток на основе ламинарии 
											br
											| и натурального сока груши для активного детокса и регуляции обменных процессов. 

										p 
											| Ламинария насыщает организм аминокислотами, витаминами и минералами, которые легко усваиваются. 

										.juice_price_block
											.juice_price
												span.price_title Цена
												span.price 292 ₽

											.juice_score
												span.price_title Баллы
												span.price 2 PV

											.juice_package
												span.price_title В упаковке
												span.price 250 мл / 88 ккал

										.juice_buy
											button(type="") Купить

										.juice_min_info
											.min_info_item
												.min_info_img
													img(src="images/medium-icons/wallet.png" srcset="images/medium-icons/wallet.png 1x, images/medium-icons/2x/wallet@2x.png 2x")

												.min_info_text
													| Оплата на сайте или при получении, наличным и безналичным способом

											.min_info_item
												.min_info_img
													img(src="images/medium-icons/airplane.png" srcset="images/medium-icons/airplane.png 1x, images/medium-icons/2x/airplane@2x.png 2x")

												.min_info_text
													| Доставка по России, Украине, Казахстану, Узбекистану и Эстонии
						

		script(src="js/jquery.min.js")
		script(src="js/jquery.parallax.js")
		script(src="js/bootstrap.min.js")
		script(src="js/simplebar.js")
		script(src="js/main.js")