doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/slick.css" rel="stylesheet")
		link(href="css/slick-theme.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		.wrapper
			header
				.header_inform__wrapper
					.container
						.header_inform
							.main_logo
								a(href="#")
									span.logo_first Vip GSM
									span.logo_second Unlimited
							.main_inform
								.main_phone
									span.phone1 8 -800 - 120 -120
									span.phone2 8 -800 - 123 -123
								.main_request
									a(href="javascript:void(0);") Request a call
								.main_lang
									a(href="javascript:void(0);")
										| English 
										span.caret
				.slider__wrapper
					.slider_item
						.slider_img(style="background-image: url(images/slider_01.png);")
							.slider_inform__wrapper
								.container
									.slider_inform
										.slider_description
											h3
												| Vip GS
												br
												span Unlimited
											p We live in a time of dynamic globalization and IT progress.
											img(src="images/icons/sim.png")
										.slider_link
											a(href="javascript:void(0);") Order now
					.slider_item
						.slider_img(style="background-image: url(images/slider_01.png);")
							.slider_inform__wrapper
								.container
									.slider_inform
										.slider_description
											h3
												| Vip GSM
												br
												span Unlimited
											p We live in a time of dynamic globalization and IT progress.
											img(src="images/icons/sim.png")
										.slider_link
											a(href="javascript:void(0);") Order now
					.slider_item
						.slider_img(style="background-image: url(images/slider_01.png);")
							.slider_inform__wrapper
								.container
									.slider_inform
										.slider_description
											h3
												| Vip GM
												br
												span Unlimited
											p We live in a time of dynamic globalization and IT progress.
											img(src="images/icons/sim.png")
										.slider_link
											a(href="javascript:void(0);") Order now
			.advantages__wrapper.dynamic_bg
				.container
					h2 Our advantages
					.advantages
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.advantages_video
									iframe(width="640" height="360" src="https://www.youtube.com/embed/_h9tjyxWs7w" frameborder="0" allowfullscreen)
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.advantages_inform__wrapper
									.advantages_title__wrapper
										h4 Why is it profitable for us?
										.advantagages_teaser We offer a quality product!
									.advantages_list__wrapper
										.advateges_list
											span Acceptable prices
										.advateges_list
											span Delivery in the shortest time
										.advateges_list
											span We provide a guarantee
									.advantages_request
										.advantages_request_title Please order directly and you will get a 5% discount.
										.advantages_link
											a(href="javascript:void(0);").main_btn Make a request
			.technology_wrapper.dynamic_bg
				.container
					h2 Technology
					.technology
						.row 
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.technology_item
									.technology_title__wrapper
										.technology_title.title1 Privacy
									.technology_text
										p
											| In general, my whole purchase went well, I think, I will order in the future here. The site paid attention because of its design. It is convenient to look for, and for each model characteristics are given. It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods
											br
											| It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods!
											br
											| t's good that there is a consultant, because There are many questions that are easier to ask by phone.

							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.technology_item
									.technology_title__wrapper
										.technology_title.title2 Location
									.technology_text
										p
											| In general, my whole purchase went well, I think, I will order in the future here. The site paid attention because of its design. It is convenient to look for, and for each model characteristics are given. It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods
											br
											| It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods!
											br
											| t's good that there is a consultant, because There are many questions that are easier to ask by phone.

							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.technology_item
									.technology_title__wrapper
										.technology_title.title3 Caller ID
									.technology_text
										p
											| In general, my whole purchase went well, I think, I will order in the future here. The site paid attention because of its design. It is convenient to look for, and for each model characteristics are given. It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods
											br
											| It's good that there is a consultant, because There are many questions that are easier to ask by phone. Well and delivered without delay, so quickly I still did not receive the goods!
											br
											| t's good that there is a consultant, because There are many questions that are easier to ask by phone.

						.technology_banner__wrapper
							.technology_banner_inform__wrapper
								.technology_logo
									| Vip GSM
									br
									span Unlimited
								.technology_banner_inform
									.technology_banner_title We provide a guarantee.
									.technology_banner_text
										p We live in a time of dynamic globalization and IT progress.
							.technology_banner_link
								a(href="javascript:void(0);").main_btn Read more
			.tarif__wrapper.dynamic_bg
				.container
					h2 Tariff plans
					.table__wrapper
						table
							thead
								td
								td Plan A
								td Plan B
							tr
								td Sim cost
								td 100 $
								td 100 $
							tr
								td Contract
								td 150 $
								td 250 $
							tr
								td Limit
								td 150 min / mo
								td 300 min / mo
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td
								td
							tr
								td
								td 250 USD
								td 350 USD

					.tarif_banner__wrapper
						.tarif_banner_text It's simple to stay in touch with a choice of whatsapp, skype, telegram, telephone, mail or callback request, depending on your personal communication preferences.
						.tarif_banner_link
							a(href="javascript:void(0);").main_btn Order now

			//- .countdown__wrapper.dynamic_bg
			//- 	.container
			//- 		h2 Until the end of the action
			//- 		.countdown
			//- 			.countdown_item
			//- 				.countdown_text
			//- 					| 00
			//- 					br
			//- 					span Hour
			//- 			.countdown_item 
			//- 				.countdown_text
			//- 					|25 
			//- 					br 
			//- 					span Minutes
			//- 			.countdown_item 
			//- 				.countdown_text
			//- 					|32 
			//- 					br 
			//- 					span Seconds
			//- 			.countdown_item 
			//- 				.countdown_text
			//- 					|2340 
			//- 					br 
			//- 					span Clients

			.request_module__wrapper.dynamic_bg
				.container
					.request_module
						.request_module_text
							.request_module_title VIP GSM is a high tech and dynamically developing company.
							p We developed special business offers for our dealers who are willing to earn money with us.
						.request_module_link
							a(href="javascript:void(0);").main_btn Make a request

			.decisions__wrapper.dynamic_bg
				.container
					h2 Sub-decisions
					.decisions
						.decisions_item
							h5 Secret Location
							p
								| VIP GSM sim card is a unique solution on the telecommunication services market. As a comprehensive product it solves the problems of security and anonymity of GSM cell phone calls.
								br
								| VIP GSM sim card successfully operates with all the models of cell phones.
							p
								| Principal technical characteristics:
								br
								| Caller ID Substitution.
								br
								| Replace your existing phone number with any one while making cell phone calls.
								br
								| Voice changer.

						.decisions_item
							h5 VIP GSM sim card refuses
							p
								| You can simply add one or more virtual phone numbers in order to receive incoming calls.
							p
								| Our anonymous PBX servers are varying after each phone call. The mobile connection is built on “2-shoulders” principle that allows us to modify IMSI and MSISDN of our sim cards.
							p
								| VIP GSM sim card refuses and opposes all secret USSD commands.

			.faq__wrapper.dynamic_bg
				.container
					h2 FAQ
					.faq_slider
						.faq
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.

								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
						.faq
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.

								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
						.faq
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.

								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
									.faq_item
										.question What is a Question and Answer site?
										.answer_question 
											p A Q&A site helps your online community to share knowledge. People with questions get the answers they need. The community is enriched by commenting, voting, notifications, points and rankings.
			
		footer
			.container
				.footer__wrapper
					.main_logo
							a(href="javascript:void(0);")
								span.logo_first Vip GSM
								span.logo_second Unlimited
					.footer_link
						a(href="javascript:void(0);").main_btn Request a call
					.footer_phone
						span 8 -800 - 120 -120
						span 8 -800 - 120 -120
					.footer_creator
						.creator Разработка  сайта 
							a(href="javascript:void(0);") Студия ЯР
						.copyright Copyright © 2016  | Все права защищены


		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/slick.min.js")
		script(src="js/main.js")