aside.sidebar.sidebar-left
	.sidebar-content
		.aside-toolbar
			.site-logo
				a(href='index.html').brand-text 
					img(src="/images/login/logo-sm-white.png")
				button(type="button" data-toggle-state="minify-sidebar").menu-toggle
					i.dripicons-list
		nav.main-menu
			ul.nav.metismenu
				li.sidebar-header
					span Основная панель
				li
					a(href='javascript:void(0);', aria-expanded='false', style='\
					')
						i.fa.fa-drivers-license-o
						span Управление счетами
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.fa.fa-group
						span Здания
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.icon.dripicons-article
						span Документы
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.icon.dripicons-wallet
						span Бюджет

				li.sidebar-header
					span Документация
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.icon.dripicons-user-group
						span Отдел кадров
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.icon.dripicons-retweet
						span Приход - уход
				li
					a(href='javascript:void(0);', aria-expanded='false')
						i.icon.dripicons-to-do
						span Формы и бланки
				li.sidebar-header
					span Дополнительное
				li
					a(href='javascript:void(0);')
						i.icon.dripicons-graph-line
						span Калькулятор
				li
					a(href='javascript:void(0);')
						i.icon.dripicons-message
						span Оповещение
				li
					a(href='javascript:void(0);')
						i.icon.dripicons-archive
						span Конакты
				li
					a(href='javascript:void(0);')
						i.icon.dripicons-calendar
						span Календарь
				li
					a(href='javascript:void(0);')
						i.icon.dripicons-help
						span Помощник