doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Bank system
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="css/icons/dripicons.min.css" rel="stylesheet")
		link(href="css/font-awesome.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body.pace-done
		
		#app
			include sections/sidebar.pug
			
			.content-wrapper
				include sections/navbar.pug
				
				.content
					header.page-header
						.d-flex.align-items-center
							.mr-auto
								h1 Главная страница

					section.page-content.container-fluid

						section.dashboard-count-info
							.row
								.col-md-6.col-xl-3
									.tile-stats-item.bg-purple
										.icon
											i.fa.fa-user
										.count-num 124
										.count-info-title.max-190 Общее количество физических лиц

								.col-md-6.col-xl-3
									.tile-stats-item.bg-darken-blue
										.icon
											i.fa.fa-users
										.count-num 722
										.count-info-title.max-190 Общее количество юридических лиц

						section.inform-block
							.row
								.col-xl-3.col-md-6
									.card.bg-c-blue
										.card-block
											.card-block-title Курс USD
											.card-block-inform $ 7862.58
								.col-xl-3.col-md-6
									.card.bg-c-green
										.card-block
											.card-block-title Курс RUB
											.card-block-inform &#8381; 126.45
								.col-xl-3.col-md-6
									.card.bg-c-red
										.card-block
											.card-block-title Курс EUR
											.card-block-inform € 8203.69
								.col-xl-3.col-md-6
									.card.bg-c-yellow
										.card-block
											.card-block-title Курс KZT
											.card-block-inform ₸ 56.236

						section.inform-block-2
							.row
								.col-xl-4.col-md-4
									.card.o-hidden.card-green.web-num-card
										.card-block.text-white
											h6 Подсчитано
											h3
												| $456,845
												i.fas.fa-angle-down.m-l-10

								.col-xl-4.col-md-4
									.card.o-hidden.card-blue.web-num-card
										.card-block.text-white
											h6 Не подсчитано
											h3
												| $456,845
												i.fas.fa-angle-down.m-l-10

								.col-xl-4.col-md-4
									.card.o-hidden.card-yellow.web-num-card
										.card-block.text-white
											h6 Не сделано
											h3
												| $456,845
												i.fas.fa-angle-down.m-l-10

						section.inform-block-3
							.row
								.col-xl-7.col-xxl-9
									.card
										h5.card-header
											| Месячный бюджет
										.card-body
											canvas(style='height: 350px')#chartjs_lineChart
								.col-xl-5.col-xxl-3
									.todo-list
										.card
											h5.card-header
												| Список задач
												.todo-list-day Сегодня
											.card-body
												.form-material
													form.form-material
														.form-group.form-primary
															input.form-control.add_task_todo(type='text', name='task-insert', required='' placeholder="Создайте список задач")
													.form-icon
														button#add-btn.btn.btn-success.btn-icon
															i.dripicons-plus
												.new-task
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash
													.to-do-list
														.checkbox-fade.fade-in-primary
															label.check-task
																input(type='checkbox', value='')
																span.cr
																	i.dripicons-checkmark
																span Lorem Ipsum Dolor Sit Amet
														.float-right
															a.delete_todolist(href='javascript:void(0);')
																i.dripicons-trash



		script(src="js/jquery.min.js")
		script(src="js/bootstrap.bundle.min.js")
		script(src="js/chart.js")
		script(src="js/simplebar.js")
		script(src="js/main.js")