doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Bank system
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="css/icons/dripicons.min.css" rel="stylesheet")
		link(href="css/font-awesome.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		link(href="css/login.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body
		
		.login-page-wrap
			.login-block-wrap
				.login-form-wrap
					.login-logo
						a(href='#')
							img(src='images/login/sbb2.png')
					.login-signin
						.login-head
							h3.login-title Администрирование
						form.login-form
							.form-group.login-form__group
								input.form-control(type='text', placeholder='Логин', name='login', autocomplete='off')
							.form-group.login-form__group
								input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Пароль', name='password')
							.login-form__button
								button(type="button") Вход

		
									


		script(src="js/main.js")