doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Настройки клиента
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="css/icons/dripicons.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body.pace-done.no-sidebar

		#app
			aside.sidebar.sidebar-left
				.aside-toolbar
					.site-logo
						a(href='index.html').brand-text ASBT Technologic
						button(type="button" data-toggle-state="minify-sidebar").menu-toggle
							i.dripicons-list
				.sidebar-content
			
			.content-wrapper
				nav.top-toolbar.navbar.navbar-mobile.navbar-tablet
					ul.navbar-nav.nav-left
						li.nav-item
							a(href='javascript:void(0)', data-toggle-state='aside-left-open')
								i.icon.dripicons-align-left
					ul.navbar-nav.nav-center.site-logo
						li
							a(href='index.html')
								span.brand-text ASBT Technologic
					ul.navbar-nav.nav-right
						li.nav-item
							a(href='javascript:void(0)', data-toggle-state='mobile-topbar-toggle')
								i.icon.dripicons-dots-3.rotate-90

				nav.top-toolbar.navbar.navbar-desktop.flex-nowrap
					ul.navbar-nav.nav-left.fast-link
						li.nav-item.nav-text.dropdown.dropdown-menu-xl
							a(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								span
									| Быстрые ссылки
								i.dripicons-chevron-down.menu-arrow-down
							.dropdown-menu.dropdown-menu-left
								.row
									.col
										h3.menu-header Учеты
										ul.list-items
											li
												a(href='javascript:void(0);') Бухгалтерский учет
											li
												a(href='javascript:void(0);') Кадровый учет
											li
												a(href='javascript:void(0);') Премиальный учет
											li
												a(href='javascript:void(0);') Учет активности
											li
												a(href='javascript:void(0);') Учет продуктов
											li
												a(href='javascript:void(0);') Учет компьютеров
											li
												a(href='javascript:void(0);') Учет успеваемости
											li
												a(href='javascript:void(0);') Учет
											li
												a(href='javascript:void(0);') Учет
											li
												a(href='javascript:void(0);') Учет
									.col
										h3.menu-header Выделение денег
										ul.list-items
											li
												a(href='javascript:void(0);') Кредит
											li
												a(href='javascript:void(0);') Предприниматели
											li
												a(href='javascript:void(0);') Продажа
											li
												a(href='javascript:void(0);') Выделение денег
											li
												a(href='javascript:void(0);') Оборот
											li
												a(href='javascript:void(0);') Пассивный заработок
											li
												a(href='javascript:void(0);') Остаток
											li
												a(href='javascript:void(0);') Договора
											li
												a(href='javascript:void(0);') Не удавшийся договора
											li
												a(href='javascript:void(0);') Бюджет
						
					ul.navbar-nav.nav-right

						li.nav-item
							a.open-search-button(href='javascript:void(0)', data-q-action='open-site-search')
								i.icon.dripicons-search
						li.nav-item.dropdown.dropdown-menu-lg
							a(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.icon.dripicons-view-apps
							.dropdown-menu.dropdown-menu-right.p-0
								.dropdown-menu-grid
									.menu-grid-row
										div
											a.dropdown-item.border-bottom.border-right(href='javascript:void(0);')
												i.icon.dripicons-cloud-upload
												span Загруженные
										div
											a.dropdown-item.border-bottom(href='javascript:void(0);')
												i.icon.dripicons-clock
												span Посл. действие
									.menu-grid-row
										div
											a.dropdown-item.border-right(href='javascript:void(0);')
												i.icon.dripicons-archive
												span Архив
										div
											a.dropdown-item(href='javascript:void(0);')
												i.icon.dripicons-calendar
												span Календарь
						li.nav-item.dropdown.dropdown-notifications.dropdown-menu-lg
							a(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.icon.dripicons-bell
							.dropdown-menu.dropdown-menu-right
								.card.card-notification
									.card-header
										h5.card-title Уведомление
										ul.actions.top-right
											li
												a(href='javascript:void(0);', data-q-action='open-notifi-config')
													i.icon.dripicons-gear
									.card-body
										.card-container-wrapper
											.card-container
												.timeline.timeline-border
													.timeline-list
														.timeline-info
															div
																| Азамат Абдуалимов добавил новый отчет 
																a(href='javascript:void(0)')
																	strong Отчет за 2018
															small.text-muted 21/06/18, 14:00
													.timeline-list.timeline-border.timeline-primary
														.timeline-info
															div Бизнес расчеты готовы
															small.text-muted 21/06/18, 11:00
													.timeline-list.timeline-border.timeline-accent
														.timeline-info
															div Калькулятор использован кассиром
															small.text-muted 21/06/18, 09:00
													.timeline-list.timeline-border.timeline-success
														.timeline-info
															div Настройде уведомление
															small.text-muted 21/06/18, 08:00
													.timeline-list.timeline-border.timeline-warning
														.timeline-info
															div
																a(href='javascript:void(0);')
																	strong Хочешь выиграть!
																|  нужно
															small.text-muted 20/06/18, 16:00
													.timeline-list.timeline-border.timeline-info
														.timeline-info
															div
																a(href='javascript:void(0);')
																	strong МРЗП
																|  минимальная зарплата.
															small.text-muted 20/06/18, 14:00
											.card-container
												h6.p-0.m-0
													| Show notifications from:
												.row.m-b-20.m-t-30
													.col-10
														span.title
															i.icon.dripicons-calendar
															| Calendar
													.col-2
														input.js-switch(type='checkbox', checked='', data-switchery='true', style='display: none;')
														span.switchery.switchery-small(style='background-color: rgb(116, 104, 189); border-color: rgb(116, 104, 189); box-shadow: rgb(116, 104, 189) 0px 0px 0px 0px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;')
															small(style='left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;')
												.row.m-b-20
													.col-10
														span.title
															i.icon.dripicons-mail
															| Email
													.col-2
														input.js-switch(type='checkbox', checked='', data-switchery='true', style='display: none;')
														span.switchery.switchery-small(style='background-color: rgb(116, 104, 189); border-color: rgb(116, 104, 189); box-shadow: rgb(116, 104, 189) 0px 0px 0px 0px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;')
															small(style='left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;')
												.row.m-b-20
													.col-10
														span.title
															i.icon.dripicons-message
															| Messages
													.col-2
														input.js-switch(type='checkbox', data-switchery='true', style='display: none;')
														span.switchery.switchery-small(style='box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s, box-shadow 0.4s;')
															small(style='left: 0px; transition: background-color 0.4s, left 0.2s;')
												.row.m-b-20
													.col-10
														span.title
															i.icon.dripicons-stack
															| Projects
													.col-2
														input.js-switch(type='checkbox', checked='', data-switchery='true', style='display: none;')
														span.switchery.switchery-small(style='background-color: rgb(116, 104, 189); border-color: rgb(116, 104, 189); box-shadow: rgb(116, 104, 189) 0px 0px 0px 0px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;')
															small(style='left: 13px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;')
						li.nav-item.dropdown
							a.nav-link.user-avatar(data-toggle='dropdown', href='javascript:void(0);', role='button', aria-haspopup='true', aria-expanded='false')
								img.rounded-circle(src='images/avatars/businessman.png', alt='Albert Einstein')
							.dropdown-menu.dropdown-menu-right.dropdown-menu-account
								.dropdown-header.pb-3
									.media.d-user
										img.align-self-center.mr-3.rounded-circle(src='images/avatars/businessman.png', alt='Albert Einstein')
										.media-body
											h5.mt-0.mb-0 Лазиз Абдукаримов
											span кассир
								a.dropdown-item(href='pages.profile.html')
									i.icon.dripicons-user
									|  Профиль
								a.dropdown-item(href='pages.my-account.html')
									i.icon.dripicons-to-do
									|  Отчеты
								a.dropdown-item(href='pages.my-account.html')
									i.icon.dripicons-gear
									|  Настройки
								a.dropdown-item(href='auth.sign-in.html')
									i.icon.dripicons-lock-open
									|  Выход

					.form.navbar-form(role='search', action='')
						.form-group
							input.form-control.navbar-search(type='text', placeholder='Напишите запрос и нажмите enter...', autocomplete='off')
							i.icon.dripicons-cross.close-search(data-q-action='close-site-search')
						button.d-none(type='submit') Поиск
				
				.content
					header.page-header
						.d-flex.align-items-center
							.mr-auto
								h1 
									| Редактирование текущей задачи

					section.page-content.container-fluid
						.card
							.card-body.task-settings
								.row
									.col-md-5
										.task-time-wrap
											.task-time-item
												.row
													.col-12.col-sm-6
														span.time.time-from
															span.time-title c:
															input(type="text")
													.col-12.col-sm-6
														span.time.time-to
															span.time-title по:
															input(type="text")
											button(type="button").add-time +
										ul.timeouts
											li
												span.timeout-title Timeout
											li
												span.timeout-title Max Thread
											li
												span.timeout-title Max count
								.text-right
									button.btn.btn-primary Save

						

		script(src="js/jquery.min.js")
		script(src="js/bootstrap.bundle.min.js")
		script(src="js/chart.js")
		script(src="js/simplebar.js")
		script(src="js/main.js")