footer
	.footer_inform_wrap
		.custom_container
			.footer_inform
				.footer_inform_item.footer_inform_blog
					.footer_inform_title 
						strong BLOG Popular 
						| posts
					.footer_inform_body
						a(href="javascript:void(0);").footer_post_item
							.footer_post_item_img
								img(src="images/icons/file.png")
							.footer_post_text
								| The life of other people live well and for

						a(href="javascript:void(0);").footer_post_item
							.footer_post_item_img
								img(src="images/icons/bloquote.png")
							.footer_post_text
								| The life of other people live well and for

						a(href="javascript:void(0);").footer_post_item
							.footer_post_item_img
								img(src="images/icons/music.png")
							.footer_post_text
								| The life of other people live well and for

			
				.footer_inform_item.footer_inform_tw
					.footer_inform_title 
						strong LATEST TWITTER 
						| UPDATES
					.footer_inform_body
						.footer_tw_item
							.tw_text The life of other people live well and for
							a(href="javascript:void(0);").tw_link http://www.fb/
							.tw_text_date - 6 hour ago 

						.footer_tw_item
							.tw_text The life of other people live well and for
							a(href="javascript:void(0);").tw_link http://www.fb/
							.tw_text_date - 6 hour ago 

			
				.footer_inform_item.footer_inform_contact
					.footer_inform_title 
						strong Contact 
						| Information
					.footer_inform_body
						.footer_contact_item
							.footer_contact_text Lorem ipsum dolor
							a(href="tel:+10000000000").footer_contact_link +1 000 000 0000
							.footer_contact_city New York

						.footer_contact_item
							.footer_contact_text Lorem ipsum dolor
							a(href="tel:+10000000000").footer_contact_link +1 000 000 0000
							.footer_contact_city New York

	.footer_contacts
		.custom_container
			.footer_contacts_info_wrap
				.footer_contacts_info
					a(href="tel:+1000000000").phone  +00 00 00 00 00
					a(href="mailto:contact@companyname.com").email contact@companyname.com
				.footer_contacts_social
					a(href="javascript:void(0);").rss
					a(href="javascript:void(0);").mail
					a(href="javascript:void(0);").tw
					a(href="javascript:void(0);").fb
					a(href="javascript:void(0);").gp
					a(href="javascript:void(0);").other

	.footer_copyright
		|Copyright © 2018