header
	.custom_container
		.header_menu
			.logo
				a(href="javascript:void(0)")
					img(src="images/logo.png" alt="logotype")

			button#menu_btn.custom_navbar_toggle(type='button')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			nav.main_menu
				ul
					li.parent
						a(href="javascript:void(0)") Services

						ul.child
							li
								a(href="javascript:void(0)") Software engineering
							li
								a(href="javascript:void(0)") Mobile development
							li.active
								a(href="javascript:void(0)") UI UX
							li
								a(href="javascript:void(0)") QA
							li
								a(href="javascript:void(0)") Cloud
							li
								a(href="javascript:void(0)") Big Data

					li.parent
						a(href="javascript:void(0)") Industries

						ul.child
							li
								a(href="javascript:void(0)") Finance
							li
								a(href="javascript:void(0)") Healthcare
							li.active
								a(href="javascript:void(0)") Insurance
							li
								a(href="javascript:void(0)") Retail- E Commerce
							li
								a(href="javascript:void(0)") Logistics
							li
								a(href="javascript:void(0)") Aerospace

					li
						a(href="javascript:void(0)") Insights

					li.parent
						a(href="javascript:void(0)") Company

						ul.child
							li
								a(href="javascript:void(0)") About US
							li
								a(href="javascript:void(0)") Team
							li.active
								a(href="javascript:void(0)") Careers

					li
						a(href="javascript:void(0)") Contact Us