doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1')
		meta(name='MobileOptimized', content='width')
		meta(name='HandheldFriendly', content='true')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='msapplication-tap-highlight', content='no')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Inner pages
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/slick.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		| <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		| <!--[if (gte IE 6)&(lte IE 8)]> <script src="js/selectivizr-min.js"></script><![endif]-->
	body

		include ./pug-includes/header.pug
		
		.wrapper.inner_page
			section.main_slider
				.main_slider_items
					.main_slider_item(style="background-image: url('images/slider/3.png')")
						.custom_container
							.main_slider_inform
								h4 Lorem ipsum dolor sit amet
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit

					.main_slider_item(style="background-image: url('images/slider/2.png')")
						.custom_container
							.main_slider_inform
								h4 Lorem ipsum dolor sit amet
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit

					.main_slider_item(style="background-image: url('images/slider/1.png')")
						.custom_container
							.main_slider_inform
								h4 Lorem ipsum dolor sit amet
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit

					.main_slider_item(style="background-image: url('images/slider/2.png')")
						.custom_container
							.main_slider_inform
								h4 Lorem ipsum dolor sit amet
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit

			.custom_container
				h3 Software engineering
				.anons_text
					img(src="images/anons.png").anons_image
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

					p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.

			.special_block
				.custom_container
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
					.row
						.col-12.col-sm-4
							h5 Lorem ipsum dolor
							p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.

						.col-12.col-sm-4
							h5 Lorem ipsum dolor
							p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.

						.col-12.col-sm-4
							h5 Lorem ipsum dolor
							p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.

			.custom_container
				.row
					.col-12.col-sm-4
						img(src="images/portfolio/2.png")
						p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.

					.col-12.col-sm-4
						img(src="images/portfolio/3.png")
						p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.

					.col-12.col-sm-4
						img(src="images/portfolio/4.png")
						p It's like to learn the art. The best people who have made a lot of good risks, give people a chance to rise. Business people mistakenly believe that learning. His success secret of a good and just. In this country, but only after you consolidate your podmochat in. Career, your life would be nothing. Prized in the life of the project to the next.	
						
			.hr-line

			.custom_container
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

				p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

		include ./pug-includes/footer.pug
			

		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/slick.min.js")
		script(src="js/main.js")